pymongo==3.9.0
Flask==1.1.1
elasticsearch==7.6.0
flask_restplus==0.13.0
pandas==0.25.3
nltk==3.4.5
Wikipedia_API==0.5.3
networkx==2.4
lxml==4.5.0
dash==1.10.0
dash-daq==0.4.0
-e git://github.com/ibeltagy/allennlp@fp16_and_others#egg=allennlp
jsonlines
lxml
