body            { font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;}
a      { color: #377ba8; }
h1, h2          { margin: 0; }
/* h1              { border-bottom: 2px solid #eee; } */

table.dataframe, .dataframe th, .dataframe td {
  border: none;
  border-bottom: 1px solid #C8C8C8;
  border-collapse: collapse;
  text-align:left;
  padding: 10px;
  margin-bottom: 40px;
  font-size: 0.9em;
}


.female th {
    background-color: #616A6B;
    color: white;
}

tr:nth-child(odd)		{ background-color:#eee; }
tr:nth-child(even)	{ background-color:#fff; }

tr:hover            { background-color: #D6DBDF;}

.column {
  float: left;
  width: 100%;

  text-align: center;
  font-size: 15px;
  cursor: pointer;
  color: rgb(14, 8, 8);
}

.containerTab {
  padding: 15%;
  color: rgb(20, 19, 19);
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Closable button inside the image */
.closebtn {
  float: right;
  color: rgb(46,18,18);
  font-size: 45px;
  cursor: pointer;
}