<html>
        {% include 'head.html' %}

    <body>
        {% include 'navbar.html' %}

        <section>
            <div class="container-fluid">
                <div class="row">

                    <div class="col-lg-10 author-info offset-lg-1">
                        <h2 style="margin-left: 0px; margin-top: 50px; text-align: center">Authors</h2>                     

                    </div>
                </div>
            </div>
        </section>

        <section class="search-sec" id="main">
        <!-- <img src="/static/back.jpg"> -->
            <div class="container" style="padding-top: -20px;">
                <form action="/author_search" method="post" novalidate="novalidate">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="row" style="padding:10px;">
                                <div class="col-lg-6 offset-lg-2 col-md-9 col-sm-12 p-0" >
                                    <input type="text" class="form-control search-slt" id="author-search" name="author" placeholder="How about a name?">
                                </div>
                                <div class="col-lg-2 col-md-3 col-sm-12 p-0">
                                    <button class="btn btn-secondary button" id="author-submit" type="submit" disabled>Search</button>  
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </section>

        <section>
            <div class="container">
                <div class="row">
                    <div class="col-lg-4">
                        <div class="card stats">
                            <h5>Most Cited New Authors</h5>
                            {% for a in new_authors %}
                                <li><a href="/author/{{a['_id']}} "  title="Number of Citations: {{a['total_citations']}}" style="font-size:14px;">{{ a['name'] }}</a></li>
                            {% endfor %}
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="card stats">
                            <h5>New Authors with Most papers</h5>
                            {% for a in new_authors_paper_count %}
                                <li><a href="/author/{{a['_id']}} "  title="Paper Count: {{a['total_papers']}}" style="font-size:14px;">{{ a['name'] }}</a></li>
                            {% endfor %}
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="card stats">
                            <h5>Authors with Most papers</h5>
                            {% for a in most_papers_authors %}
                                <li><a href="/author/{{a['_id']}}" title="Paper Count: {{a['total_papers']}}" style="font-size:14px;">{{ a['name'] }}</a></li>
                            {% endfor %}
                            <!-- <div id="graph3"></div> -->
                        </div>
                    </div>
                </div>
                <div class="row" style="margin-top:40px">
                    <div class="col-lg-4">
                        <div class="card stats">
                            <h5>Most Cited Authors - Lifetime</h5>
                            {% for a in most_cited_authors %}
                                <li><a href="/author/{{a['_id']}}" title="Number of Citations: {{a['total_citations']}}" style="font-size:14px;">{{ a['name'] }}</a></li>
                            {% endfor %}
                            <div id="graph4"></div>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="card stats">
                            <h5>Most Cited Authors - Last 5 Years</h5>
                            {% for a in most_cited_authors_5 %}
                                <li><a href="/author/{{a['_id']}}" title="Number of Citations: {{a['citation_last_n_years'][5]}}" style="font-size:14px;">{{ a['name'] }}</a></li>
                            {% endfor %}
                            <div id="graph5"></div>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="card stats">
                            <h5>Most Cited Authors - Last Year</h5>
                            {% for a in most_cited_authors_1 %}
                                <li><a href="/author/{{a['_id']}}" title="Number of Citations: {{a['citation_last_n_years'][1]}}" style="font-size:14px;">{{ a['name'] }}</a></li>
                            {% endfor %}
                            <div id="graph6"></div>
                        </div>
                    </div>
                </div>
                <div class="row" style="margin-top:40px">
                    <div class="col-lg-4">
                    </div>

                    <div class="col-lg-4">
                        <div class="card stats">
                            <h5>Most Diverse Authors</h5>
                            {% for a in most_diverse_authors %}
                                <li><a href="/author/{{a[0]}}" style="font-size:14px;">{{ a[1] }}</a></li>
                            {% endfor %}
                            <div id="graph5"></div>
                        </div>
                    </div>

                    <div class="col-lg-4">
                    </div>
                </div>
            </div>
        </section>

        <script>
            $('#author-search').on('keyup', function() {
                var text_length = $(this).val().replace(/\s/g, "").length;
                if(text_length > 0){
                    $('#author-submit').removeAttr("disabled");
                }
                else {
                    $('#author-submit').attr("disabled", true);
                }
            });    
        
        </script>
        <!-- <script>
            var data = [
                        {
                            x: {{ new_author_year | safe }},
                            y: {{ new_author_count | safe }},
                            type: 'bar'
                        }
                    ];
                    Plotly.newPlot('newAuthor', data, {"title" : {"text" : "New Author Distribution"}}, {showSendToCloud:false});   

            
            
        </script> -->

    <br>
    {% include 'footerbar.html' %}   
    </body>
</html>