<!DOCTYPE html> 
<html>
  {% include 'head.html' %}
<head>
  <meta charset="UTF-8">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://www.w3schools.com/lib/w3-theme-black.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.3.0/css/font-awesome.min.css">
</head>



<body>
  {% include 'navbar.html' %}
  <br>
  <br>
  <style>
    img {
    border-radius: 40%;
  }
  </style>
  <h1  style="font-size:60px"> <center> About Coronavirus</center></h1>
  <h3><center>Myths V/s Facts</center></h3>
  <br>
  <br>


  <div class="w3-row-padding w3-center w3-margin-top">
  <div class="w3-third">
    <div class="w3-card w3-container" style="min-height:460px">
    <h3>How it spreads</h3><br>
    <img src="../static/how.jpg" height="70%">
    <p>Respiratory transmission</p>
    <p>Aerosol transmission </p>
    <p>Contact transmission</p>
    </div>
  </div>

  <div class="w3-third">
    <div class="w3-card w3-container" style="min-height:460px">
    <h3>Symptoms</h3><br>
    <img src="../static/syms.png">
    <p>Fever</p>
    <p>Tiredness</p>
    <p>Dry cough</p>
    <p>Shortness of breath</p>
    </div>
  </div>

  <div class="w3-third">
    <div class="w3-card w3-container" style="min-height:460px">
    <h3>Prevention</h3><br>
    <i class="fa fa-diamond w3-margin-bottom w3-text-theme" style="font-size:120px"></i>
    <p>Wash your hands regularly</p>
    <p>At least 1 metre distance between you and people.</p>
    <p>Avoid touching your face.</p>
    <p>Stay home if you feel unwell.</p>
    </div>
  </div>
  </div>
  <hr>


  <div class="w3-row-padding">
  <div class="w3-half">
  <div class="w3-card white">
    <div class="w3-container w3-red">
      <h3>Myths</h3>
    </div>
    <ul class="w3-ul w3-border-top">
      <li>
        <h4>The new coronavirus cannot be transmitted in areas with hot and humid climates.</h4>
      </li>
      <li>
        <h4>Spraying alcohol or chlorine all over your body can kill the new coronavirus if already infected .</h4>
      </li>
      <li>
        <h4> Vaccines against pneumonia can protect you against the new coronavirus and can be used.</h4>
      </li>
      <li>
        <h4> The new coronavirus can be transmitted through mosquito bites also.</h4>
      </li>
      <li>
        <h4> The new coronavirus affects only older people.</h4>
      </li>
    </ul>
    <div class="w3-container w3-red w3-large"><span class="w3-right">...</span></div>
  </div>
  </div>

  <div class="w3-half">
  <div class="w3-card white">
    <div class="w3-container w3-theme">
      <h3>Facts</h3>
    </div>
    <ul class="w3-ul w3-border-top">
      <li>
        <h4 >The COVID-19 virus can be transmitted in ALL AREAS, including areas with hot and humid weather.</h4>
        <!-- <p>The response to the animations was ridiculous</p> -->
      </li>
      <li>
        <h4>Spraying alcohol or chlorine all over your body will not kill viruses that have already entered your body.</h4>
        <!-- <p>Touching, gripping and genuinely well made</p> -->
      </li>
      <li>
        <h4>The virus is so new and different that it needs its own vaccine. Researchers are trying to develop a vaccine against COVID-19</h4>
        <!-- <p>A huge success for Marvel and Disney</p> -->
      </li>
      <li>
        <h4>No evidence yet that the new coronavirus could be transmitted by mosquitoes</h4>
      </li>
      <li>
        <h4> People of ALL AGES can be infected by the new coronavirus.</h4>
      </li>
    </ul>
    <div class="w3-container w3-theme w3-large"><span class="w3-right">...</span></div>
  </div>
  </div>
  </div>
  <hr>
</body>
</html>
