<p style="margin-top: 50px"></p>

<section style="background-color: #f8f9fa">
    	<div class="container">
        	<div class="row">
                <div class="col-lg-4 offset-lg-4" style="text-align: center; padding-top: 50px">
                    <h2>Contact Us</h2>
                </div>
            </div>

            <div class="row">
                <div class="col-lg-4 offset-lg-4" style="text-align: center; padding-top: 20px">
                    <h3><a href="https://labs.iitgn.ac.in/lingo/">LINGO</a></h3>
                    <p>Computational Linguistics and Complex Social Networks Group</p>
                    <p>Department of Computer Science<br>Indian Institute of Technology Gandhinagar</p>
                    <p>Email: <a href ="mailto:singh.mayank@iitgn.ac.in">singh.mayank@iitgn.ac.in </a></p>
                </div>
            </div>

        </div>
</section>