<html>
    <head>
        {% include 'head.html' %}
    </head>
    <body style="background-color: #e0e0e0">
        {% include 'navbar.html' %}

        <!-- <section>
            <div class="container-fluid">
                <div class="row">

                    <div class="col-lg-10 author-info offset-lg-1">
                        <h4 style="color: black;margin-left: 0px; margin-top: 50px; text-align: center"><a href="/fos_all" style="color: black;margin-left: 2px; margin-top: 50px">Field of Study</a></h4>                   


                      

                    </div>
                </div>
            </div>
        </section>
 -->
        <section>
            <div class="container">
                <div class="row" style="margin-top:100px">
                    <div class="col-lg-6" >

                        <h6 style="color: black;margin-left: 2px; margin-top: 50px">{{ fos_heading }}</h6></a>
                        <h2 style="color: black;margin-left: 0px;">{{  fos_subtopics }}</h2>
                            <!-- <h2>{{url_id}}
                            </h2> -->
                            <!-- <p>{{summary}}<a href = "{{wiki_link}}">{{more_info}}</a></p></p> -->

                        <div class="card" style="margin-top: 25px">           
                            <div class="card-body">
                                <!-- <h6> Total links:- {{len_link_list}}</h6> -->
                                <h6> Total Paper Mentions:- {{total_paper_mentions}} </h6>
                        <br>
                        <h6 style="margin-top: 10px">First ACL Paper:- {{min_year}}</h6>
                        <h6>Latest ACL Paper:- {{max_year}}</h6>

                            </div>
                        </div>
                    </div>

                    <div class="col-lg-6" >
                        <div id="PaperMentions"></div>  
                    </div>
                    <!-- <div class="col-lg-6 author-info" >
                        <div id="newlink"></div>
                    </div> -->
                </div>
            </div>

<!-- 
            <div class="row justify-content-center">

                <div class="col-xs-12" style="padding-top: 5px;">
                    <a class="col-lg-6" href="/fos_all/linguistic">Linguistic Target</a>
                    <a class="col-lg-6" href="/fos_all/task">Task</a>
                    <a class="col-lg-6" href="/fos_all/approach">Approach</a>
                    <a class="col-lg-6" href="/fos_all/language">Language</a>
                    <a class="col-lg-6" href="/fos_all/dataset">Dataset</a>                  

                </div>
            </div>
 -->
            
        <!--     <div class="container-fluid">
                <div class="row" style="margin-top:30px">
                    <div class="col-lg-10 offset-lg-1">
                        <a href="/fos_all/{{fos_link}}" style="color: black;margin-left: 2px; margin-top: 50px"><h6 style="color: black;margin-left: 0px;">{{ fos_heading }}</h6></a>
                        <h2 style="color: black;margin-left: 0px;">{{  fos_subtopics }}</h2>
                    </div>
                </div>
 -->

                <!-- <div class="row">
                    <div class="col-lg-6">
                        <div class="card" style="padding:20px;">
                            <h4>Yearly Paper Mentions</h4>
                            <div id="PaperMentions"></div>  
                        </div>
                    </div>
                </div> -->

                <!-- <div class="card">            -->
                    <!-- <div class="card-body"> -->
                        <!-- <h6> Total links:- {{len_link_list}}</h6> -->
                        <!-- <h6> Total paper mentions:- {{total_paper_mentions}} </h6> -->
                        <!-- <br>
                        <h6 style="margin-top: 10px">First ACL Paper:- {{min_year}}</h6>
                        <h6>Latest ACL Paper:- {{max_year}}</h6>

                    </div>
                </div> -->
            <div class="container">
                <div class="citations" style="padding:20px;margin-top:50px; background-color: white">
                    <div class="row" style="padding:20px;">
                        <div class="col-lg-12">
                            <div class="card">           
                                <div class="card-body">
            <!-- <div class="col-lg-10 offset-lg-1" style="padding:20px;margin-top:50px;background-color: white">
                <div class="card">           
                    <div class="card-body"> -->
                                    <nav>
                                        <div class="nav nav-tabs" id="nav-tab" role="tablist">
                                        {% for idx in range(tab_names | length) %}
                                        {% if idx == 0 %}
                                        <a class="nav-item nav-link active" id="nav-{{ tab_names[idx]}}-tab" data-toggle="tab" href="#nav-{{ tab_names[idx] }}" role="tab" aria-controls="nav-{{ tab_names[idx]}}" aria-selected="true">{{ tab_names[idx] }}</a>
                                        {% else %}
                                        <a class="nav-item nav-link" id="nav-{{ tab_names[idx] }}-tab" data-toggle="tab" href="#nav-{{ tab_names[idx] }}" role="tab" aria-controls="nav-{{ tab_names[idx] }}" aria-selected="false">{{ tab_names[idx] }}</a>
                                        {% endif %}
                                        {% endfor %}
                                        </div>
                                    </nav>
                                    <div class="tab-content" id="nav-tabContent">
                                        {% for idx in range(tab_names | length) %}
                                        {% if idx == 0%}
                                        <div class="tab-pane fade show active" id="nav-{{ tab_names[idx] }}" role="tabpanel" aria-labelledby="nav-{{ tab_names[idx]}}-tab">
                                            <div style="margin-top:20px;"></div>
                                            {% for idx in range(author_list["author_id"]|length) %}
                                                <div>
                                                    <h6><a href="/author/{{ author_list['author_id'][idx] }}" style="color: black">{{ author_list["author_names"][idx]}}</a></h6>
                                                    <h6 style="color: black">Associated works : {{author_list['freq'][idx]}}</h6>
                                                    
                                                </div> 
                                                <hr>
                                            <br>  
                                            {% endfor %}
                                        </div>
                                        {% else%}{% if idx==1%}
                                        <div class="tab-pane fade" id="nav-{{ tab_names[idx] }}" role="tabpanel" aria-labelledby="nav-{{ tab_names[idx] }}-tab">
                                            <div style="margin-top:20px;">
                                            </div>
                                            {% for idx in range(paper_list["paper_id"]|length) %}
                                                <div>
                                                    <h6><a href="/paper/{{ paper_list['paper_id'][idx] }}" style="color: black">{{ paper_list['paper_title'][idx] }} </a>
                                                    {% for v_count in range(paper_list['venue'][idx] | length) %}
                                                        <a href="/conference/{{ paper_list['venue'][idx][v_count] }}-{{ paper_list['year'][idx] }}" type="btn" class="btn btn-outline-secondary" style="float: right;">{{ paper_list['venue'][idx][v_count] }}-{{ paper_list['year'][idx] }}</a>
                                                    {% endfor %}

                                                    </h6>
                                                    {% for count in range(paper_list['author_names'][idx] | length) %}
                                                        <span><a href="/author/{{ paper_list['author_ids'][idx][count] }}" style="color: black !important">{{ paper_list['author_names'][idx][count] }} | </a></span>
                                                    {% endfor %}  
                                                </div> 
                                                <hr>
                                            <br>  
                                            {% endfor %}
                                        </div>
                                        {% else %}{% if idx==2%}
                                        <div class="tab-pane fade" id="nav-{{ tab_names[idx] }}" role="tabpanel" aria-labelledby="nav-{{ tab_names[idx] }}-tab">
                                            <div style="margin-top:20px;">
                                            </div>
                                            {% for idx in range(conference_list['conference_name']|length) %}
                                                <div>
                                                    <h6><a href="/conference_page/{{ conference_list['conference_name'][idx] }}" style="color: black">{{ conference_list['conference_name'][idx] }}</a></h6>
                                                    <h6 style="color: black">Associated works : {{conference_list['freq'][idx]}}</h6>
                                                    
                                                </div> 
                                                <hr>
                                            <br>  
                                            {% endfor %}
                                        </div>
                                        {% endif %}
                                        {% endif %}
                                        {% endif %}
                                        {% endfor %}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>  
            </div>                
        </section>

       

        <br>
        {% include 'footerbar.html' %}


    </body>

    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    <script>
        var data = [
                    {
                        x: {{ paper_mentions["year"] | safe }},
                        y: {{ paper_mentions["count"] | safe }},
                        type: 'bar'
                    }
                ];
       
                Plotly.newPlot('PaperMentions', data, {"title" : {"text" : "Yearly Paper Mentions"}},{showSendToCloud:false});  
        
    </script>


</html>
