<html>
	{% include 'head.html' %}
	
    <body>

        {% include 'navbar.html' %}

        <section>
            <div class="container-fluid">
                <div class="row">

                    <div class="col-lg-10 author-info offset-lg-1">
                        <h2 style="margin-left: 0px; margin-top: 50px; text-align: center">Field of Study</h2>                     


                      

                    </div>
                </div>
            </div>
        </section>

        <section>

            <div class="row justify-content-center">

                <div class="col-xs-12" style="padding-top: 5px;">
                    <a class="col-lg-6" href="/fos_all/linguistic">Linguistic Target</a>
                    <a class="col-lg-6" href="/fos_all/task">Task</a>
                    <a class="col-lg-6" href="/fos_all/approach">Approach</a>
                    <a class="col-lg-6" href="/fos_all/language">Language</a>
                    <a class="col-lg-6" href="/fos_all/dataset">Dataset</a>                  

                </div>
            </div>

            <div class="container-fluid">
                <div class="row">
                    
                    </div>
                    <div class="col-lg-10 offset-lg-1 author-info">
                        <h3 style="margin-left: 0px; margin-top: 50px">{{ fos_heading }}</h3>

                        {% for idx in range(fos_subtopics|length) %} 
                        
                        <a href="/fos_all/{{fos_link}}/{{ fos_ids[idx] }}"><button type="button" class="btn btn-light" style="padding: 10px; margin-top:10px;">{{ fos_subtopics[idx] }}</button></a>

                      <!--  <a href="/fos_all/{{fos_link}}/{{ fos_ids[idx] }}" type="btn" class="btn btn-outline-secondary" style="margin-top: 5px;">{{ fos_subtopics[idx] }}</a> -->
                        
                        {% endfor %}
                        <hr>

                       

                        <div class="row">
                            <div class="col-lg-6">
                                <!-- <div class="card" style="padding:20px;"> -->
                                    <!-- <h4>Paper Distribution</h4> -->
                                    <div id="PaperDistri"></div>  
                                <!-- </div> -->
                            </div>
                            <div class="col-lg-6">
                                <!-- <div class="card" style="padding:20px;"> -->
                                    <!-- <h4>Author Distribution</h4> -->
                                    <div id="AuthorDistri"></div>  
                                <!-- </div> -->
                            </div>
                            <div class="col-lg-6">
                                                
                                <!-- <div class="card" style="padding:20px;"> -->
                                    <!-- <h4>Citation Distribution</h4> -->
                                    <div id="CitationDistri"></div>  
                                <!-- </div> -->
                            </div>
                            <div class="col-lg-6">
                                                
                                <!-- <div class="card" style="padding:20px;"> -->
                                    <!-- <h4>Conference Presence</h4> -->
                                    <div id="ConfDistri"></div>  
                                <!-- </div> -->
                            </div>
                        </div>


                       

                    </div>
                </div>
            </div>
        </section>

    <br>
    {% include 'footerbar.html' %}
    </body>



    
        <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
        <script>
            var data1 = [
                        {
                            x: {{ paper_distri["year"] | safe }},
                            y: {{ paper_distri["paper_count"] | safe }},
                            type: 'bar'
                        }
                    ];
           
                    Plotly.newPlot('PaperDistri', data1, {"title" : {"text" : "Yearly Paper Distribution"}},{showSendToCloud:false});  
            
        </script>

        <script>
            var data2 = [
                        {
                            x: {{ author_distri["year"] | safe }},
                            y: {{ author_distri["author_count"] | safe }},
                            type: 'bar'
                        }
                    ];
                    Plotly.newPlot('AuthorDistri', data2,  {"title" : {"text" : "Yearly Author Distribution"}}, {showSendToCloud:false});  
            
        </script>
        <script>
            var data3 = [
                        {
                            x: {{ citation_distri["year"] | safe }},
                            y: {{ citation_distri["citation_count"] | safe }},
                            type: 'bar'
                        }
                    ];
                    Plotly.newPlot('CitationDistri', data3,  {"title" : {"text" : "Yearly Citation Distribution"}},{showSendToCloud:false});  
            
        </script>        

        <script>
            var data4 = [
                        {
                            x: {{ conference_distri["conference"] | safe }},
                            y: {{ conference_distri["topic_count"] | safe }},
                            type: 'bar'
                        }
                    ];
                    Plotly.newPlot('ConfDistri', data4,  {"title" : {"text" : "Yearly Conference Distribution"}}, {showSendToCloud:false});  
            
        </script>
</html>