<html>
        {% include 'head.html' %}

    <head>
        <link rel= "stylesheet" type= "text/css" href= "{{url_for('static',filename='timeline.css') }}">
    </head>


    <body style="background-color: #e0e0e0">
        {% include 'navbar.html' %}

        <section>
            <div class="container-fluid">
                <div class="row">

                    <div class="col-lg-10 author-info offset-lg-1">
                        <h2 style="color:black;margin-left: 0px; margin-top: 50px; text-align: center">Field of Study</h2>                     


                      

                    </div>
                </div>
            </div>
        </section>

        <section class="search-sec" id="main">
        <!-- <img src="/static/back.jpg"> -->
            <div class="container" style="padding-top: -20px;">
                <form action="/fos_search" method="post" novalidate="novalidate">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="row" style="padding:10px;">
                                <div class="col-lg-6 offset-lg-2 col-md-9 col-sm-12 p-0" >
                                    <input type="text" class="form-control search-slt" name="fos" placeholder="How about a Topic?">
                                </div>
                                <div class="col-lg-2 col-md-3 col-sm-12 p-0">
                                    <button class="btn btn-secondary button" type="submit">Search</button>  
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>

             <div class="row justify-content-center">

                <div class="col-xs-12" style="padding-top: 20px;">
                    <a class="col-lg-6" href="/fos_all/linguistic">Linguistic Target</a>
                    <a class="col-lg-6" href="/fos_all/task">Task</a>
                    <a class="col-lg-6" href="/fos_all/approach">Approach</a>
                    <a class="col-lg-6" href="/fos_all/language">Language</a>
                    <a class="col-lg-6" href="/fos_all/dataset">Dataset</a>                   


                  

                </div>
            </div>
        </section>


        <section class="timeline" >
            <div class="row justify-content-center" style="margin-top: 50px">
            <h4> Timeline of First Occurence of Sub-Fields</h4>
        </div>
          <ol>
            {% for index in indexes %}
            <li>
              <div>
                <h4>{{years[index]}}</h4> 
                {% for idx in range(finalkeys[index]|length) %}
                <h6><b>{{finalkeys[index][idx]}}</b></h6>
            
                    {% for ele in finalvals[index][idx] %}
                        <h6 style="padding-left: 0.7em">{{ele}}</h6>
                    {% endfor %}
                {% endfor %}
              </div>
            </li>
            {% endfor %}
            <li></li>
        </ol>

          
          <div class="arrows">
            <button class="arrow arrow__prev disabled" disabled>
              <!-- <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/162656/arrow_prev.svg" alt="prev timeline arrow"> -->
              <img src="https://cdn4.iconfinder.com/data/icons/icon-flat-icon-set/50/triangle-left-512.png" alt="prev timeline arrow">
            </button>
            <button class="arrow arrow__next">
              <!-- <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/162656/arrow_next.svg" alt="next timeline arrow"> -->
              <img src="https://cdn4.iconfinder.com/data/icons/icon-flat-icon-set/50/triangle-right-512.png" alt="next timeline arrow">
            </button>
          </div>
        </section>

        

    <br>
    {% include 'footerbar.html' %}   
    </body>

    <script src="{{ url_for('static',filename='timeline.min.js') }}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/hammer.js/2.0.8/hammer.min.js"></script>>

</html>