<html>
        {% include 'head.html' %}

    <body>
        {% include 'navbar.html' %}
        {% include 'second-nav.html' %}
        <section>

        </section>
        <link href="../static/rSlider.min.css" rel="stylesheet" type="text/css"> </link>
        <script src="../static/rSlider.min.js"></script>
        <div class="container" style="margin-top:10px">
            <h3 style="margin-top:50px; margin-bottom: 50px;">Full-Text Search Results: <span id="keyword">{{keyword}}</span></h3>
            <span style='visibility: hidden;' id="field">Full-Text</span>
            <input type="text" id="yr-slider" class="slider">
            <br>
            <div id=result>
            {% for item in items %}
                <div>
                    <h5><a href="{{item[1]}}" target="_blank">{{item[0]}}</a></h5>
                    <p style="font-size: 16px; color: grey"> Journal:{{item[2]}} | {{item[3]}}</p>
                </div>
                <hr>
            {% endfor %}
            </div>
        </div>
        {% include 'footerbar.html' %}
    </body>
    <script src="../static/year_slider.js"></script>
</html>
