<html>
    
    {% include 'head.html' %}


    <body>

        {% include 'navbar.html' %}
    
    <section class="search-sec" id="main">
            <div class="container" style="text-align:center;padding:10% 0% 10% 0%; color: black;">
                <h1 style="font-size: 70px">COVID-19</h1>
                <h3> Stats, Search and more...</h3>

            </div>
    </section>

    {% include 'footerbar.html' %}
    </body>
    <script src="{{ url_for('static',filename='three.r92.min.js') }}"></script>
    <script src="{{ url_for('static',filename='vanta.net.min.js') }}"></script>

    <script>
        VANTA.NET({
              el: "#main",
              mouseControls: true,
              touchControls: true,
              scale: 1.00,
              scaleMobile: 1.00,
              color: 0xffffff,
              backgroundColor: 0x57b5bb,
              points: 20.00,
              maxDistance: 19.00,
              spacing: 16.00
        })

    </script>
    
</html>
