<html>
    
    {% include 'head.html' %}


    <body>

        {% include 'navbar.html' %}
    
    <section class="search-sec" id="main">
            <div class="container" style="text-align:center;padding:140px; color: white;">
                <h1 style="font-size: 70px">Covid-19</h1>
                <h3> Stats, Search and more...</h3>

            </div>
    </section>
     <h1> <center>Graphs of daily cases State-wise</center></h1>
    <div class="container-fluid p-0">
        
        <div class="row no-gutters">
          <div class="col-sm">
            <img src="../static/images/Madhya Pradesh.png" width="340" height="340" style ="padding : 1em">
          </div>
          <div class="col-sm">
            <img src="../static/images/Maharashtra.png" width="340" height="340" style ="padding : 1em">
          </div>
          <div class="col-sm">
            <img src="../static/images/Kerala.png" width="340" height="340" style ="padding : 1em">
          </div>
        </div>
      </div>
      <br>
      <div class="row no-gutters">
        <div class="col">
          <img src="../static/images/Andaman And Nicobar.png" width="340" height="270" style ="padding : 1em">
        </div>
        <div class="col-4">
          <img src="../static/images/Andhra Pradesh.png" width="340" height="340" style ="padding : 1em" >
        </div>
        <div class="col">
          <img src="../static/images/Arunachal Pradesh.png" width="340" height="270" style ="padding : 1em" >
        </div>
      </div>
    </div>
    <div class="row no-gutters">
        <div class="col">
          <img src="../static/images/Assam.png" width="340" height="270" style ="padding : 1em">
        </div>
        <div class="col-4">
          <img src="../static/images/Bihar.png" width="340" height="340" style ="padding : 1em">
        </div>
        <div class="col">
          <img src="../static/images/Chandigarh.png" width="340" height="340" style ="padding : 1em">
        </div>
      </div>
    </div>
    <div class="row no-gutters">
        <div class="col">
          <img src="../static/images/Chhattisgarh.png" width="340" height="340" style ="padding : 1em">
        </div>
        <div class="col-4">
          <img src="../static/images/Dadra And Nagar Haveli.png" width="340" height="270" style ="padding : 1em">
        </div>
        <div class="col">
          <img src="../static/images/Delhi.png" width="340" height="340" style ="padding : 1em">
        </div>
      </div>
    </div>
    <div class="row no-gutters">
        <div class="col">
          <img src="../static/images/Goa.png" width="340" height="340" style ="padding : 1em">
        </div>
        <div class="col-4">
          <img src="../static/images/Haryana.png" width="340" height="340" style ="padding : 1em">
        </div>
        <div class="col">
          <img src="../static/images/Himachal Pradesh.png" width="340" height="340" style ="padding : 1em">
        </div>
      </div>
    </div>
    <div class="row no-gutters">
        <div class="col">
          <img src="../static/images/Jammu and Kashmir.png" width="340" height="340" style ="padding : 1em">
        </div>
        <div class="col-4">
          <img src="../static/images/Jharkhand.png" width="340" height="270" style ="padding : 1em">
        </div>
        <div class="col">
          <img src="../static/images/Karnataka.png" width="340" height="340" style ="padding : 1em">
        </div>
      </div>
    </div>
    <div class="row no-gutters">
        <div class="col">
          <img src="../static/images/Kerala.png" width="340" height="340" style ="padding : 1em">
        </div>
        <div class="col-4">
          <img src="../static/images/Lakshadweep.png" width="340" height="270" style ="padding : 1em">
        </div>
        <div class="col">
          <img src="../static/images/Manipur.png" width="340" height="340" style ="padding : 1em">
        </div>
      </div>
    </div>
    <div class="row no-gutters">
        <div class="col">
          <img src="../static/images/Meghalaya.png" width="340" height="270" style ="padding : 1em">
        </div>
        <div class="col-4">
          <img src="../static/images/Mizoram.png" width="340" height="340" style ="padding : 1em">
        </div>
        <div class="col">
          <img src="../static/images/Nagaland.png" width="340" height="270" style ="padding : 1em">
        </div>
      </div>
    </div>
    <div class="row no-gutters">
        <div class="col">
          <img src="../static/images/Orissa.png" width="340" height="270" style ="padding : 1em">
        </div>
        <div class="col-4">
          <img src="../static/images/Puducherry.png" width="340" height="340" style ="padding : 1em">
        </div>
        <div class="col">
          <img src="../static/images/Punjab.png" width="340" height="340" style ="padding : 1em">
        </div>
      </div>
    </div>
    <div class="row no-gutters">
        <div class="col">
          <img src="../static/images/Rajasthan.png" width="340" height="340" style ="padding : 1em">
        </div>
        <div class="col-4">
          <img src="../static/images/Sikkim.png" width="340" height="270" style ="padding : 1em">
        </div>
        <div class="col">
          <img src="../static/images/Tamil Nadu.png" width="340" height="340" style ="padding : 1em">
        </div>
      </div>
    </div>
    <div class="row no-gutters">
        <div class="col">
          <img src="../static/images/Telangana.png" width="340" height="340" style ="padding : 1em">
        </div>
        <div class="col-4">
          <img src="../static/images/Tripura.png" width="340" height="270" style ="padding : 1em">
        </div>
        <div class="col">
          <img src="../static/images/Uttar Pradesh.png" width="340" height="340" style ="padding : 1em">
        </div>
      </div>
    </div>
    <div class="row no-gutters">
        <div class="col">
          <img src="../static/images/Uttaranchal.png" width="340" height="270" style ="padding : 1em">
        </div>
        <div class="col-4">
          <img src="../static/images/West Bengal.png" width="340" height="340" style ="padding : 1em">
        </div>
      </div>
    </div>
    {% include 'footerbar.html' %}
    </body>
    <script src="{{ url_for('static',filename='three.r92.min.js') }}"></script>
    <script src="{{ url_for('static',filename='vanta.net.min.js') }}"></script>

    <script>
        VANTA.NET({
              el: "#main",
              mouseControls: true,
              touchControls: true,
              minHeight: 200.00,
              minWidth: 200.00,
              scale: 1.00,
              scaleMobile: 1.00,
              color: 0xffffff,
              backgroundColor: 0x57b5bb,
              points: 20.00,
              maxDistance: 19.00,
              spacing: 16.00
        })

    </script>
    
</html>
