<html>
{% include 'head.html' %}
<head>
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.6/d3.min.js"></script>
    <script src="static/func.js"></script>
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='style.css') }}">
</head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<style>
* {
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

/* Float four columns side by side */
.column {
  float: left;
  width: 25%;
  padding: 0 10px;
}

/* Remove extra left and right margins, due to padding */
.row {margin: 0 -5px;}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}
@media screen and (max-width: 600px) {
  .column {
    width: 100%;
    display: block;
    margin-bottom: 20px;
  }
}

/* Style the counter cards */
.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  padding: 16px;
  text-align: center;
  background-color: #f1f1f1;
}
</style>   
    
    
    

<style>
  .content {
    max-width: 960px;
    margin: auto;
  }
  body {
  background-color: #FBFCFC;
  color: #635F5E;
  }
</style>
<body>
    {% include 'navbar.html' %}
    <style>
      div.gre {
        color: rgb(28, 206, 28);
      }
    </style>
    <style>
        div.red {
          color:red;
        }
    </style>

    <style>
        div.grey {
          color:#B3A9B8;
        }
        div.blu{
          color: rgb(73, 15, 209);
    }
    </style>
    <section style="padding:20px;"></section>

    <div class="content">
    <h1 style="background:rgb(236, 236, 236);"><center>INDIA COVID-19 TRACKER</center></h1>
    </div>
    <br>
    <br>
    <div class="content">
      <div class="row">
        <div class="column">
          <div class="card" >
            <h3>Total Cases</h3>
            <div class="grey" style="font-size:40px" >{{totals}}<sub><small>+{{last}}</small></sub></div>
        
          </div>
        </div>

        <div class="column">
          <div class="card">
            <h3>Active</h3>
            <div class="blu" style="font-size:40px" ><center>{{active}}</center></div>
          </div>
        </div>
      
        <div class="column">
          <div class="card">
            <h3>Deaths</h3>
            <div class="red" style="font-size:40px" ><center>{{dead}}</center></div>
          </div>
        </div>
        
        <div class="column">
          <div class="card">
            <h3>Recovered:</h3>
            <div class="gre" style="font-size:40px" ><center>{{recover}}</center></div>
          </div>
        </div>
        
    </div>
    
    <br>
    <div class="content">
        <h2> <center>Total cases in India</center></h2>
        <br>
        <div id="chart"></div>
        <script>

          var graphs = {{plot|safe}};
          var layout = {
            xaxis: {
              // title: 'Dates',
              showgrid: false,
              zeroline: false
            },
            yaxis: {
              title: 'No. of Cases',
              showline: false
            },
            autosize: true,
            paper_bgcolor: 'rgba(0,0,0,0)',
            plot_bgcolor: 'rgba(0,0,0,0)',
            font: {
              family: "Lucida Sans Unicode, Lucida Grande, sans-serif",
              size: 16,
              color: '#7f7f7f'
            }
          };
          Plotly.newPlot('chart',graphs,layout);
        </script>
    </div>
        
    <div class="content">
      <h2> <center>Daily cases in India</center></h2>
      <br>
      <div id="chart0"></div>
      <script>

        var graphs = {{daily|safe}};
        var layout = {
          xaxis: {
            // title: 'Dates',
            showgrid: false,
            zeroline: false
          },
          yaxis: {
            title: 'No. of Cases',
            showline: false
          },
          autosize: true,
          paper_bgcolor: 'rgba(0,0,0,0)',
          plot_bgcolor: 'rgba(0,0,0,0)',
          font: {
            family: "Lucida Sans Unicode, Lucida Grande, sans-serif",
            size: 16,
            color: '#7f7f7f'
          }
        };
        Plotly.newPlot('chart0',graphs,layout);
      </script>
  </div>


    <br>
    <br>
    <h2> <center>Daily case count: State-wise<sub><small>[4]</small></sub></center></h2>
    <br>

    <!-- <div class="content">
      <div class="row">
        <div class="column" onclick="openTab('b1');" style="background:gainsboro;" ><h4><center>Andaman and Nicobar Islands </center></h3></div>
      </div>
      <div id="b1" class="containerTab" style="display:none">
        <span onclick="this.parentElement.style.display='none'" class="closebtn">x</span>
        <div id="chart1"></div>
          <script>
             var graphs = {{plot1 | safe}};
             Plotly.plot('chart1',graphs,{});
          </script>
      </div>
    </div> -->

    <div class="content">
      <div class="row">
        <div class="column" onclick="openTab('b2');" style="background:gainsboro;" ><h4><center>Andhra Pradesh</center></h3></div>
      </div>
      <div id="b2" class="containerTab" style="display:none">
        <span onclick="this.parentElement.style.display='none'" class="closebtn">x</span>
        <div id="chart2">
          <script>
             var graphs = {{plot2 | safe}};
             var layout = {
            xaxis: {
              // title: 'Dates',
              showgrid: false,
              zeroline: false
            },
            yaxis: {
              title: 'No. of Cases',
              showline: false
            },
            autosize: true,
            paper_bgcolor: 'rgba(0,0,0,0)',
            plot_bgcolor: 'rgba(0,0,0,0)',
            font: {
              family: "Lucida Sans Unicode, Lucida Grande, sans-serif",
              size: 16,
              color: '#7f7f7f'
            }
          };
             Plotly.newPlot('chart2',graphs,layout);
          </script>
         </div>
      </div>
    </div>

    <!-- <div class="content">
      <div class="row">
        <div class="column" onclick="openTab('b3');" style="background:gainsboro;" ><h4><center>Arunachal Pradesh</center></h3></div>
      </div>
      <div id="b3" class="containerTab" style="display:none">
        <span onclick="this.parentElement.style.display='none'" class="closebtn">x</span>
        <div id="chart3"></div>
          <script>
             var graphs = {{plot3 | safe}};
             Plotly.plot('chart3',graphs,{});
          </script>
      </div>
    </div> -->

    <!-- <div class="content">
      <div class="row">
        <div class="column" onclick="openTab('b4');" style="background:gainsboro;" ><h4><center>Assam</center></h3></div>
      </div>
      <div id="b4" class="containerTab" style="display:none">
        <span onclick="this.parentElement.style.display='none'" class="closebtn">x</span>
        <div id="chart4"></div>
          <script>
             var graphs = {{plot4 | safe}};
             Plotly.plot('chart4',graphs,{});
          </script>
      </div>
    </div> -->


    <div class="content">
      <div class="row">
        <div class="column" onclick="openTab('b5');" style="background:gainsboro;" ><h4><center>Bihar</center></h3></div>
      </div>
      <div id="b5" class="containerTab" style="display:none">
        <span onclick="this.parentElement.style.display='none'" class="closebtn">x</span>
        <div id="chart5"></div>
          <script>
             var graphs = {{plot5 | safe}};
             var layout = {
            xaxis: {
              // title: 'Dates',
              showgrid: false,
              zeroline: false
            },
            yaxis: {
              title: 'No. of Cases',
              showline: false
            },
            autosize: true,
            paper_bgcolor: 'rgba(0,0,0,0)',
            plot_bgcolor: 'rgba(0,0,0,0)',
            font: {
              family: "Lucida Sans Unicode, Lucida Grande, sans-serif",
              size: 16,
              color: '#7f7f7f'
            }
          };
             Plotly.newPlot('chart5',graphs,layout);
          </script>
      </div>
    </div>


    <!-- <div class="content">
      <div class="row">
        <div class="column" onclick="openTab('b6');" style="background:gainsboro;" ><h4><center>Chandigarh</center></h3></div>
      </div>
      <div id="b6" class="containerTab" style="display:none">
        <span onclick="this.parentElement.style.display='none'" class="closebtn">x</span>
        <div id="chart6"></div>
          <script>
             var graphs = {{plot6 | safe}};
             Plotly.plot('chart6',graphs,{});
          </script>
      </div>
    </div> -->

    <!-- <div class="content">
      <div class="row">
        <div class="column" onclick="openTab('b7');" style="background:gainsboro;" ><h4><center>Chhattisgarh</center></h3></div>
      </div>
      <div id="b7" class="containerTab" style="display:none">
        <span onclick="this.parentElement.style.display='none'" class="closebtn">x</span>
        <div id="chart7"></div>
          <script>
             var graphs = {{plot7 | safe}};
             Plotly.plot('chart7',graphs,{});
          </script>
      </div>
    </div> -->

    <!-- <div class="content">
      <div class="row">
        <div class="column" onclick="openTab('b8');" style="background:gainsboro;" ><h4><center>Dadra and Nagar Haveli and Daman and Diu</center></h3></div>
      </div>
      <div id="b8" class="containerTab" style="display:none">
        <span onclick="this.parentElement.style.display='none'" class="closebtn">x</span>
        <div id="chart8"></div>
          <script>
             var graphs = {{plot8 | safe}};
             Plotly.plot('chart8',graphs,{});
          </script>
      </div>
    </div> -->

    <div class="content">
      <div class="row">
        <div class="column" onclick="openTab('b9');" style="background:gainsboro;" ><h4><center>Delhi</center></h3></div>
      </div>
      <div id="b9" class="containerTab" style="display:none">
        <span onclick="this.parentElement.style.display='none'" class="closebtn">x</span>
        <div id="chart9"></div>
          <script>
             var graphs = {{plot9 | safe}};
             var layout = {
            xaxis: {
              // title: 'Dates',
              showgrid: false,
              zeroline: false
            },
            yaxis: {
              title: 'No. of Cases',
              showline: false
            },
            autosize: true,
            paper_bgcolor: 'rgba(0,0,0,0)',
            plot_bgcolor: 'rgba(0,0,0,0)',
            font: {
              family: "Lucida Sans Unicode, Lucida Grande, sans-serif",
              size: 16,
              color: '#7f7f7f'
            }
          };
             Plotly.newPlot('chart9',graphs,layout);
          </script>
      </div>
    </div>

    <!-- <div class="content">
      <div class="row">
        <div class="column" onclick="openTab('b10');" style="background:gainsboro;" ><h4><center>Goa</center></h3></div>
      </div>
      <div id="b10" class="containerTab" style="display:none">
        <span onclick="this.parentElement.style.display='none'" class="closebtn">x</span>
        <div id="chart10"></div>
          <script>
             var graphs = {{plot10 | safe}};
             Plotly.plot('chart10',graphs,{});
          </script>
      </div>
    </div> -->

    <div class="content">
      <div class="row">
        <div class="column" onclick="openTab('b11');" style="background:gainsboro;" ><h4><center>Gujarat</center></h3></div>
      </div>
      <div id="b11" class="containerTab" style="display:none">
        <span onclick="this.parentElement.style.display='none'" class="closebtn">x</span>
        <div id="chart11"></div>
          <script>
             var graphs = {{plot11 | safe}};
             var layout = {
            xaxis: {
              // title: 'Dates',
              showgrid: false,
              zeroline: false
            },
            yaxis: {
              title: 'No. of Cases',
              showline: false
            },
            autosize: true,
            paper_bgcolor: 'rgba(0,0,0,0)',
            plot_bgcolor: 'rgba(0,0,0,0)',
            font: {
              family: "Lucida Sans Unicode, Lucida Grande, sans-serif",
              size: 16,
              color: '#7f7f7f'
            }
          };
             Plotly.newPlot('chart11',graphs,layout);
          </script>
      </div>
    </div>

    <div class="content">
      <div class="row">
        <div class="column" onclick="openTab('b12');" style="background:gainsboro;" ><h4><center>Haryana</center></h3></div>
      </div>
      <div id="b12" class="containerTab" style="display:none">
        <span onclick="this.parentElement.style.display='none'" class="closebtn">x</span>
        <div id="chart12"></div>
          <script>
             var graphs = {{plot12 | safe}};
             var layout = {
            xaxis: {
              // title: 'Dates',
              showgrid: false,
              zeroline: false
            },
            yaxis: {
              title: 'No. of Cases',
              showline: false
            },
            autosize: true,
            paper_bgcolor: 'rgba(0,0,0,0)',
            plot_bgcolor: 'rgba(0,0,0,0)',
            font: {
              family: "Lucida Sans Unicode, Lucida Grande, sans-serif",
              size: 16,
              color: '#7f7f7f'
            }
          };
             Plotly.newPlot('chart12',graphs, layout);
          </script>
      </div>
    </div>

    <!-- <div class="content">
      <div class="row">
        <div class="column" onclick="openTab('b13');" style="background:gainsboro;" ><h4><center>Himachal Pradesh</center></h3></div>
      </div>
      <div id="b13" class="containerTab" style="display:none">
        <span onclick="this.parentElement.style.display='none'" class="closebtn">x</span>
        <div id="chart13"></div>
          <script>
             var graphs = {{plot13 | safe}};
             Plotly.plot('chart13',graphs,{});
          </script>
      </div>
    </div> -->

    <div class="content">
      <div class="row">
        <div class="column" onclick="openTab('b14');" style="background:gainsboro;" ><h4><center>Jammu and Kashmir </center></h3></div>
      </div>
      <div id="b14" class="containerTab" style="display:none">
        <span onclick="this.parentElement.style.display='none'" class="closebtn">x</span>
        <div id="chart14"></div>
          <script>
             var graphs = {{plot14 | safe}};
             var layout = {
            xaxis: {
              // title: 'Dates',
              showgrid: false,
              zeroline: false
            },
            yaxis: {
              title: 'No. of Cases',
              showline: false
            },
            autosize: true,
            paper_bgcolor: 'rgba(0,0,0,0)',
            plot_bgcolor: 'rgba(0,0,0,0)',
            font: {
              family: "Lucida Sans Unicode, Lucida Grande, sans-serif",
              size: 16,
              color: '#7f7f7f'
            }
          };
             Plotly.newPlot('chart14',graphs,layout);
          </script>
      </div>
    </div>

    <!-- <div class="content">
      <div class="row">
        <div class="column" onclick="openTab('b15');" style="background:gainsboro;" ><h4><center>Jharkhand</center></h3></div>
      </div>
      <div id="b15" class="containerTab" style="display:none">
        <span onclick="this.parentElement.style.display='none'" class="closebtn">x</span>
        <div id="chart15"></div>
          <script>
             var graphs = {{plot15 | safe}};
             Plotly.plot('chart15',graphs,{});
          </script>
      </div>
    </div> -->

    <div class="content">
      <div class="row">
        <div class="column" onclick="openTab('b16');" style="background:gainsboro;" ><h4><center>Karnataka</center></h3></div>
      </div>
      <div id="b16" class="containerTab" style="display:none">
        <span onclick="this.parentElement.style.display='none'" class="closebtn">x</span>
        <div id="chart16"></div>
          <script>
             var graphs = {{plot16 | safe}};
             var layout = {
            xaxis: {
              // title: 'Dates',
              showgrid: false,
              zeroline: false
            },
            yaxis: {
              title: 'No. of Cases',
              showline: false
            },
            autosize: true,
            paper_bgcolor: 'rgba(0,0,0,0)',
            plot_bgcolor: 'rgba(0,0,0,0)',
            font: {
              family: "Lucida Sans Unicode, Lucida Grande, sans-serif",
              size: 16,
              color: '#7f7f7f'
            }
          };
             Plotly.newPlot('chart16',graphs,layout);
          </script>
      </div>
    </div>

    <div class="content">
      <div class="row">
        <div class="column" onclick="openTab('b17');" style="background:gainsboro;" ><h4><center>Kerala</center></h3></div>
      </div>
      <div id="b17" class="containerTab" style="display:none">
        <span onclick="this.parentElement.style.display='none'" class="closebtn">x</span>
        <div id="chart17"></div>
          <script>
             var graphs = {{plot17 | safe}};
             var layout = {
            xaxis: {
              // title: 'Dates',
              showgrid: false,
              zeroline: false
            },
            yaxis: {
              title: 'No. of Cases',
              showline: false
            },
            autosize: true,
            paper_bgcolor: 'rgba(0,0,0,0)',
            plot_bgcolor: 'rgba(0,0,0,0)',
            font: {
              family: "Lucida Sans Unicode, Lucida Grande, sans-serif",
              size: 16,
              color: '#7f7f7f'
            }
          };
             Plotly.newPlot('chart17',graphs,layout);
          </script>
      </div>
    </div>

    <!-- <div class="content">
      <div class="row">
        <div class="column" onclick="openTab('b18');" style="background:gainsboro;" ><h4><center>Ladakh</center></h3></div>
      </div>
      <div id="b18" class="containerTab" style="display:none">
        <span onclick="this.parentElement.style.display='none'" class="closebtn">x</span>
        <div id="chart18"></div>
          <script>
             var graphs = {{plot18 | safe}};
             Plotly.plot('chart18',graphs,{});
          </script>
      </div>
    </div> -->


    <!-- <div class="content">
      <div class="row">
        <div class="column" onclick="openTab('b19');" style="background:gainsboro;" ><h4><center>Lakshadweep</center></h3></div>
      </div>
      <div id="b19" class="containerTab" style="display:none">
        <span onclick="this.parentElement.style.display='none'" class="closebtn">x</span>
        <div id="chart19"></div>
          <script>
             var graphs = {{plot19 | safe}};
             Plotly.plot('chart19',graphs,{});
          </script>
      </div>
    </div> -->




    <div class="content">
      <div class="row">
        <div class="column" onclick="openTab('b20');" style="background:gainsboro;" ><h4><center>Madhya Pradesh</center></h3></div>
      </div>
      <div id="b20" class="containerTab" style="display:none">
        <span onclick="this.parentElement.style.display='none'" class="closebtn">x</span>
        <div id="chart20">
        <script>
            var graphs = {{plot20 | safe}};
            var layout = {
            xaxis: {
              // title: 'Dates',
              showgrid: false,
              zeroline: false
            },
            yaxis: {
              title: 'No. of Cases',
              showline: false
            },
            autosize: true,
            paper_bgcolor: 'rgba(0,0,0,0)',
            plot_bgcolor: 'rgba(0,0,0,0)',
            font: {
              family: "Lucida Sans Unicode, Lucida Grande, sans-serif",
              size: 16,
              color: '#7f7f7f'
            }
          };
            Plotly.newPlot('chart20',graphs,layout);
        </script>
        </div>
      </div>
    </div>

    <div class="content">
      <div class="row">
        <div class="column" onclick="openTab('b21');" style="background:gainsboro;" ><h4><center>Maharashtra</center></h3></div>
      </div>
      <div id="b21" class="containerTab" style="display:none">
        <span onclick="this.parentElement.style.display='none'" class="closebtn">x</span>
        <div id="chart21"></div>
          <script>
             var graphs = {{plot21 | safe}};
             var layout = {
            xaxis: {
              // title: 'Dates',
              showgrid: false,
              zeroline: false
            },
            yaxis: {
              title: 'No. of Cases',
              showline: false
            },
            autosize: true,
            paper_bgcolor: 'rgba(0,0,0,0)',
            plot_bgcolor: 'rgba(0,0,0,0)',
            font: {
              family: "Lucida Sans Unicode, Lucida Grande, sans-serif",
              size: 16,
              color: '#7f7f7f'
            }
          };
             Plotly.newPlot('chart21',graphs,layout);
          </script>
      </div>
    </div>

    <!-- <div class="content">
      <div class="row">
        <div class="column" onclick="openTab('b22');" style="background:gainsboro;" ><h4><center>Manipur</center></h3></div>
      </div>
      <div id="b22" class="containerTab" style="display:none">
        <span onclick="this.parentElement.style.display='none'" class="closebtn">x</span>
        <div id="chart22"></div>
          <script>
             var graphs = {{plot22 | safe}};
             Plotly.plot('chart22',graphs,{});
          </script>
      </div>
    </div> -->

    <!-- <div class="content">
      <div class="row">
        <div class="column" onclick="openTab('b23');" style="background:gainsboro;" ><h4><center>Meghalaya</center></h3></div>
      </div>
      <div id="b23" class="containerTab" style="display:none">
        <span onclick="this.parentElement.style.display='none'" class="closebtn">x</span>
        <div id="chart23"></div>
          <script>
             var graphs = {{plot23 | safe}};
             Plotly.plot('chart23',graphs,{});
          </script>
      </div>
    </div> -->

    <!-- <div class="content">
      <div class="row">
        <div class="column" onclick="openTab('b24');" style="background:gainsboro;" ><h4><center>Mizoram</center></h3></div>
      </div>
      <div id="b24" class="containerTab" style="display:none">
        <span onclick="this.parentElement.style.display='none'" class="closebtn">x</span>
        <div id="chart24"></div>
          <script>
             var graphs = {{plot24 | safe}};
             Plotly.plot('chart24,graphs,{});
          </script>
      </div>
    </div> -->

    <!-- <div class="content">
      <div class="row">
        <div class="column" onclick="openTab('b25');" style="background:gainsboro;" ><h4><center>Nagaland</center></h3></div>
      </div>
      <div id="b25" class="containerTab" style="display:none">
        <span onclick="this.parentElement.style.display='none'" class="closebtn">x</span>
        <div id="chart25"></div>
          <script>
             var graphs = {{plot25 | safe}};
             Plotly.plot('chart25',graphs,{});
          </script>
      </div>
    </div> -->

    <!-- <div class="content">
      <div class="row">
        <div class="column" onclick="openTab('b26');" style="background:gainsboro;" ><h4><center>Odisha</center></h3></div>
      </div>
      <div id="b26" class="containerTab" style="display:none">
        <span onclick="this.parentElement.style.display='none'" class="closebtn">x</span>
        <div id="chart26"></div>
          <script>
             var graphs = {{plot26 | safe}};
             Plotly.plot('chart26',graphs,{});
          </script>
      </div>
    </div> -->

    <div class="content">
      <div class="row">
        <div class="column" onclick="openTab('b27');" style="background:gainsboro;" ><h4><center>	Punjab</center></h3></div>
      </div>
      <div id="b27" class="containerTab" style="display:none">
        <span onclick="this.parentElement.style.display='none'" class="closebtn">x</span>
        <div id="chart27"></div>
          <script>
             var graphs = {{plot27 | safe}};
             var layout = {
            xaxis: {
              // title: 'Dates',
              showgrid: false,
              zeroline: false
            },
            yaxis: {
              title: 'No. of Cases',
              showline: false
            },
            autosize: true,
            paper_bgcolor: 'rgba(0,0,0,0)',
            plot_bgcolor: 'rgba(0,0,0,0)',
            font: {
              family: "Lucida Sans Unicode, Lucida Grande, sans-serif",
              size: 16,
              color: '#7f7f7f'
            }
          };
             Plotly.newPlot('chart27',graphs,layout);
          </script>
      </div>
    </div>

    <div class="content">
      <div class="row">
        <div class="column" onclick="openTab('b28');" style="background:gainsboro;" ><h4><center>Rajasthan</center></h3></div>
      </div>
      <div id="b28" class="containerTab" style="display:none">
        <span onclick="this.parentElement.style.display='none'" class="closebtn">x</span>
        <div id="chart28"></div>
          <script>
             var graphs = {{plot28 | safe}};
             var layout = {
            xaxis: {
              // title: 'Dates',
              showgrid: false,
              zeroline: false
            },
            yaxis: {
              title: 'No. of Cases',
              showline: false
            },
            autosize: true,
            paper_bgcolor: 'rgba(0,0,0,0)',
            plot_bgcolor: 'rgba(0,0,0,0)',
            font: {
              family: "Lucida Sans Unicode, Lucida Grande, sans-serif",
              size: 16,
              color: '#7f7f7f'
            }
          };
             Plotly.newPlot('chart28',graphs,layout);
          </script>
      </div>
    </div>

    <!-- <div class="content">
      <div class="row">
        <div class="column" onclick="openTab('b28');" style="background:gainsboro;" ><h4><center>Sikkim</center></h3></div>
      </div>
      <div id="b28" class="containerTab" style="display:none">
        <span onclick="this.parentElement.style.display='none'" class="closebtn">x</span>
        <div id="chart28"></div>
          <script>
             var graphs = {{plot28 | safe}};
             Plotly.plot('chart28',graphs,{});
          </script>
      </div>
    </div> -->

    <div class="content">
      <div class="row">
        <div class="column" onclick="openTab('b29');" style="background:gainsboro;" ><h4><center>Tamil Nadu</center></h3></div>
      </div>
      <div id="b29" class="containerTab" style="display:none">
        <span onclick="this.parentElement.style.display='none'" class="closebtn">x</span>
        <div id="chart29"></div>
          <script>
             var graphs = {{plot29 | safe}};
             var layout = {
            xaxis: {
              // title: 'Dates',
              showgrid: false,
              zeroline: false
            },
            yaxis: {
              title: 'No. of Cases',
              showline: false
            },
            autosize: true,
            paper_bgcolor: 'rgba(0,0,0,0)',
            plot_bgcolor: 'rgba(0,0,0,0)',
            font: {
              family: "Lucida Sans Unicode, Lucida Grande, sans-serif",
              size: 16,
              color: '#7f7f7f'
            }
          };
             Plotly.newPlot('chart29',graphs,layout);
          </script>
      </div>
    </div>

    <div class="content">
      <div class="row">
        <div class="column" onclick="openTab('b30');" style="background:gainsboro;" ><h4><center>Telangana</center></h3></div>
      </div>
      <div id="b30" class="containerTab" style="display:none">
        <span onclick="this.parentElement.style.display='none'" class="closebtn">x</span>
        <div id="chart30"></div>
          <script>
             var graphs = {{plot30 | safe}};
             var layout = {
            xaxis: {
              // title: 'Dates',
              showgrid: false,
              zeroline: false
            },
            yaxis: {
              title: 'No. of Cases',
              showline: false
            },
            autosize: true,
            paper_bgcolor: 'rgba(0,0,0,0)',
            plot_bgcolor: 'rgba(0,0,0,0)',
            font: {
              family: "Lucida Sans Unicode, Lucida Grande, sans-serif",
              size: 16,
              color: '#7f7f7f'
            }
          };
             Plotly.newPlot('chart30',graphs,layout);
          </script>
      </div>
    </div>

    <!-- <div class="content">
      <div class="row">
        <div class="column" onclick="openTab('b31');" style="background:gainsboro;" ><h4><center>Tripura</center></h3></div>
      </div>
      <div id="b31" class="containerTab" style="display:none">
        <span onclick="this.parentElement.style.display='none'" class="closebtn">x</span>
        <div id="chart19"></div>
          <script>
             var graphs = {{plot31 | safe}};
             Plotly.plot('chart31',graphs,{});
          </script>
      </div>
    </div> -->

    <div class="content">
      <div class="row">
        <div class="column" onclick="openTab('b32');" style="background:gainsboro;" ><h4><center>Uttar Pradesh</center></h3></div>
      </div>
      <div id="b32" class="containerTab" style="display:none">
        <span onclick="this.parentElement.style.display='none'" class="closebtn">x</span>
        <div id="chart32"></div>
          <script>
             var graphs = {{plot32 | safe}};
             var layout = {
            xaxis: {
              // title: 'Dates',
              showgrid: false,
              zeroline: false
            },
            yaxis: {
              title: 'No. of Cases',
              showline: false
            },
            autosize: true,
            paper_bgcolor: 'rgba(0,0,0,0)',
            plot_bgcolor: 'rgba(0,0,0,0)',
            font: {
              family: "Lucida Sans Unicode, Lucida Grande, sans-serif",
              size: 16,
              color: '#7f7f7f'
            }
          };
             Plotly.newPlot('chart32',graphs,layout);
          </script>
      </div>
    </div>

    <!-- <div class="content">
      <div class="row">
        <div class="column" onclick="openTab('b33');" style="background:gainsboro;" ><h4><center>Uttarakhand</center></h3></div>
      </div>
      <div id="b33" class="containerTab" style="display:none">
        <span onclick="this.parentElement.style.display='none'" class="closebtn">x</span>
        <div id="chart33"></div>
          <script>
             var graphs = {{plot33 | safe}};
             Plotly.plot('chart33',graphs,{});
          </script>
      </div>
    </div> -->

    <div class="content">
      <div class="row">
        <div class="column" onclick="openTab('b34');" style="background:gainsboro;" ><h4><center>West Bengal</center></h3></div>
      </div>
      <div id="b34" class="containerTab" style="display:none">
        <span onclick="this.parentElement.style.display='none'" class="closebtn">x</span>
        <div id="chart34"></div>
          <script>
             var graphs = {{plot34 | safe}};
             var layout = {
            xaxis: {
              // title: 'Dates',
              showgrid: false,
              zeroline: false
            },
            yaxis: {
              title: 'No. of Cases',
              showline: false
            },
            autosize: true,
            paper_bgcolor: 'rgba(0,0,0,0)',
            plot_bgcolor: 'rgba(0,0,0,0)',
            font: {
              family: "Lucida Sans Unicode, Lucida Grande, sans-serif",
              size: 16,
              color: '#7f7f7f'
            },
          };
             Plotly.newPlot('chart34',graphs,layout);
          </script>
      </div>
    </div>

    <br>
    <br>

    <div class="content">
        <h2>Sources</h2>
        <ol>
          <li>Novel Coronavirus (2019-nCoV) situation reports - World Health Organization (WHO)</li>
          <li>https://www.mohfw.gov.in/</li>
          <li>https://www.covid19india.org/</li>
          <li><a href="https://docs.google.com/spreadsheets/u/1/d/e/2PACX-1vSc_2y5N0I67wDU38DjDh35IZSIS30rQf7_NYZhtYYGU1jJYT6_kDx4YpF-qw0LSlGsBYP8pqM_a1Pd/pubhtml">VIEW THE PATIENTS DATABASE</a><p> (All graphs source)</p></li>
          <li>https://www.who.int/health-topics/coronavirus#tab=tab_3</li>

        </ol>
    <br>
    <br>
    <br>

    </div>

</body>



</html>
