<html>
        {% include 'head.html' %}
        <link rel="stylesheet" href="{{ url_for('static',filename='timeline.css') }}" />
        <style>
        .tl-headline-date{
            visibility: hidden;
        }
        </style>
    <body>
        {% include 'navbar.html' %}
        <section>
            <div class="container-fluid">
                <div class="row">

                    <div class="col-lg-10 author-info offset-lg-1">
                        <h2 style="margin-left: 0px; margin-top: 50px; text-align: center">Bio Entities</h2>

                        <div style="margin-top: 50px;" class="btn-toolbar justify-content-between" role="toolbar" aria-label="Toolbar with button groups">
                            <a href="/ner_all" style="padding-top: 5px;" type="button" class="btn btn-outline-secondary mr-1">All Entities
                            </a>
                            <br>
                          {% for key,value in ent_types.items() %}
                            <a href="/ner_all/{{key}}" style="padding-top: 5px;" type="button" class="btn btn-outline-secondary mr-1" onclick="filterby(this)">{{value}}
                            </a>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section style="margin-top: 25px;">
            <div class='container-fluid'>
                <div class="row" style="margin-top:50px">
                    <div class="col-lg-5 offset-lg-1">
                        <h3>{{ent_type}}</h3>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-10 author-info offset-lg-1">
                        <div class="card" style="margin-top: 20px">
                            <div class="card-body">
                                <h5>Most frequently mentioned entities:</h5>
                                {% for ne in top_entities %}
                                    <a type="button" title="Doc freq: {{ne[0]}}" style="color:00b3bc !important;"class="btn btn-light" href="/entity/{{ent_type}}/{{ne[1]}}">{{ne[1]}}</a>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-10 author-info offset-lg-1">
                        <div class="card" style="margin-top: 20px">
                            <div class="card-body">
                                <h5>Timeline of First Mentions of Entities:</h5>
                                <script type="text/javascript" src="{{ url_for('static',filename='timeline.js') }}"></script>
                                <div id='timeline-embed' style="width: 100%; height: 500px;"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        {% include 'footerbar.html' %}

        <script type="text/javascript" src="{{ url_for('static',filename='timeline-data-final.js') }}"></script>
        <script type="text/javascript">
        switch('{{ entn }}'){
            case "ner_dna":
                data = data_ner_dna;
                break;
            case "ner_rna":
                data = data_ner_rna;
                break;
            case "ner_protein":
                data = data_ner_protein;
                break;
            case "ner_ched":
                data = data_ner_ched;
                break;
            case "ner_cell_line":
                data = data_ner_cell_line;
                break;
            case "ner_cell_type":
                data = data_ner_cell_type;
                break;
            case "ner_disease":
                data = data_ner_disease;
                break;
        }


        var timeline_json = JSON.parse(data);

        var options = {
          timenav_position: "bottom",
          start_at_end: true,
        }
        timeline = new TL.Timeline('timeline-embed',timeline_json,options);
        </script>
    </body>
</html>
