<html>
        {% include 'head.html' %}
        <link rel="stylesheet" href="{{ url_for('static',filename='timeline.css') }}" />
    <body>
        {% include 'navbar.html' %}
        <section>
            <div class="container-fluid">
                <div class="row">

                    <div class="col-lg-10 author-info offset-lg-1">
                        <!-- <h2 style="margin-left: 0px; margin-top: 50px; text-align: center">Named Entities</h2> -->

                        <div style="margin-top: 50px;" class="btn-toolbar justify-content-between" role="toolbar" aria-label="Toolbar with button groups">
                            <a href="/ner_all" type="button" class="btn btn-outline-secondary mr-1">All Entities
                            </a>
                          {% for key,value in ent_types.items() %}
                            <a href="/ner_all/{{key}}" type="button" class="btn btn-outline-secondary mr-1" onclick="filterby(this)">{{value}}
                            </a>
                            {% endfor %}
                        </div>

                    </div>

                </div>
            </div>
        </section>
        <section style="margin-top: 25px;">
            <div class="row">
                <div class="col-lg-10 author-info offset-lg-1">
                    <div class="card" style="margin-top: 20px">
                        
                        <div class="card-body">
                            <h3>{{ent_type}}</h3>
                            <h5>Most frequently mentioned entities:</h5>
                            {% for ne in top_entities %}
                                <a type="button" title="{{ne[0]}}" style="color: #F7819F !important;"class="btn btn-light" href="/entity/ner_protein/{{ne}}">{{ne[1]}}</a>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <br>
        <h2 style="margin-left: 0px; margin-top: 50px; text-align: center">Timeline of First Mentions of Entities</h2>
        <script type="text/javascript" src="{{ url_for('static',filename='timeline.js') }}"></script>
        <div id='timeline-embed' style="width: 100%; height: 500px;"></div>


            {% include 'footerbar.html' %}
    </body>
    <script type="text/javascript" src="{{ url_for('static',filename='timeline-data-final.js') }}"></script>
    <script type="text/javascript">
    // switch(entn){
    //     case "ner_dna":
    //         data = data_ner_dna;
    //         break;
    //     case "ner_rna":
    //         data = data_ner_rna;
    //         break;
    //     case "ner_protein":
    //         data = data_ner_protein;
    //         break;
    //     case "ner_ched":
    //         data = data_ner_ched;
    //         break;
    //     case "ner_cell_line":
    //         data = data_ner_cell_line;
    //         break;
    //     case "ner_cell_type":
    //         data = data_ner_cell_type;
    //         break;
    // }


    var timeline_json = JSON.parse(data_all);
    
    var options = {
      timenav_position: "bottom",
    }
    timeline = new TL.Timeline('timeline-embed',timeline_json,options);
    </script>
    
</html>
