<html>
    <head>
        {% include 'head.html' %}
    </head>

    <body>
        {% include 'navbar.html' %}
        <section>
            <div class='container-fluid'>
                <div class="row" style="margin-top:50px">
                    <div class="col-lg-5 offset-lg-1">
                        <h3>{{ent_name}}</h3>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-4 author-info offset-lg-1" style="margin-top: 20px">
                        <div class="card">
                            <div class="card-body">
                                <h5>Document Frequency:</h5>
                                <span style="font-size:48px; color:00b3bc !important; padding-left:40%">{{ doc_freq }}</span>
                            </div>
                        </div>
                        <br>
                        <div class="card">
                            <div class="card-body">
                                <h5>First Mention:</h5>
                                <span style="font-size:36px; color:00b3bc !important;">{{first_mention['ptime'][:4]}}</span>
                                <div>
                                    <h5><a href="{{first_mention['url']}}" target="_blank">{{first_mention['title']}}</a></h5>
                                    <p style="font-size: 18px; color: grey"> Journal : {{first_mention['journ']}} | {{first_mention['ptime']}}
                                        <br>
                                        <span style="font-size: 16px; color: grey"> Authors : </span>
                                        {% for auth in first_mention['auth'] %}
                                            <span style="font-size: 16px; color: grey"> {{auth}} |</span>
                                        {% endfor %}
                                    </p>
                                </div>                                
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 author-info offset-md1" style="margin-top: 20px">
                        <div class="card">
                            <div class="card-body">
                                <h5>Mention distribution over years:</h5>
                                <div id="mention-year">

                                </div>
                            </div>
                        </div>
                    </div>

                </div>

                <div class="row">
                    <div class="col-lg-10 author-info offset-lg-1">
                        <div class="card" style="margin-top: 20px">
                            <div class="card-body">
                                <h5 id="comen">Co-mentioned Entities:</h5>
                                
                                <nav>
                                    <div class="nav nav-tabs" id="nav-tab" role="tablist">
                                    {% for type in range(co_mentions | length) %}
                                        {% if type == 0%}
                                        <a class="nav-item nav-link active" id="nav-{{co_mentions[type][0]}}-tab" data-toggle="tab" href="#nav-{{co_mentions[type][0]}}" role="tab" aria-controls="nav-{{co_mentions[type][0]}}" aria-selected="true">{{ent_type_names[type]}}</a>
                                        {% else %}
                                        <a class="nav-item nav-link" id="nav-{{co_mentions[type][0]}}-tab" data-toggle="tab" href="#nav-{{co_mentions[type][0]}}" role="tab" aria-controls="nav-{{co_mentions[type][0]}}" aria-selected="false">{{ent_type_names[type]}}</a>
                                        {% endif %}
                                    {% endfor %}
                                    </div>
                                </nav>


                                <div class="tab-content" id="nav-tabContent">
                                    {% for type in range(co_mentions | length) %}
                                    {% if type == 0%}
                                    <div class="tab-pane fade show active" id="nav-{{co_mentions[type][0]}}" role="tabpanel" aria-labelledby="nav-{{co_mentions[type][0]}}-tab">
                                        <div style="margin-top:20px;"></div>
                                        <ol class="expandible" style="list-style-type:none;">
                                        {% for gene in co_mentions[type][1] %}
                                        <li>
                                            <div class="inline" style="margin-top: 5px; margin-left: 10px;">
                                            <a type="button" style="color: 00b3bc !important;"class="btn btn-light" href="/entity/{{co_mentions[type][0]}}/{{gene}}">{{gene}}</a></div>
                                        </li>   
                                        {% endfor %}
                                    </ol>
                                    </div>
                                    {% else %}
                                    <div class="tab-pane fade" id="nav-{{co_mentions[type][0]}}" role="tabpanel" aria-labelledby="nav-{{co_mentions[type][0]}}-tab">
                                        <div style="margin-top:20px;">
                                        </div>
                                        <ol class="expandible" style="list-style-type:none;">
                                        {% for gene in co_mentions[type][1] %}
                                        <li>
                                            <div class="inline" style="margin-top: 5px; margin-left: 10px;">
                                            <a type="button" style="color: 00b3bc !important;"class="btn btn-light" href="/entity/{{co_mentions[type][0]}}/{{gene}}">{{gene}}</a></div>
                                        </li>   
                                        {% endfor %}
                                    </ol>
                                    </div>
                                    {% endif %}
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                        <div class="card" style="margin-top: 20px">
                            <div class="card-body">
                                <h5>Top 10 Co-Mentions for Different Entity Types for {{ent_name}}:</h5>
                                <div class="dashboard_graph">
                                    <div style="width: 100%; min-height:1100px;" >
                                        <iframe
                                          noresize='noresize'
                                          style='position: absolute; background: transparent; width: 95%; height:100%;'
                                          src="/graphs/sanky/entity={{ent_name}}&ent_type={{ent_type}}"
                                          frameborder="0">
                                        </iframe>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-lg-10 author-info offset-lg-1">
                        <div class="card" style="margin-top: 20px">

                            <div class="card-body">
                                <h5>Mentions:</h5>
                                  <nav>
                                        <div class="nav nav-tabs" id="nav-tab" role="tablist">
                                        {% for year in range(paper_mentions | length) %}
                                            {% if year == 0%}
                                            <a class="nav-item nav-link active" id="nav-{{paper_mentions[year][0]}}-tab" data-toggle="tab" href="#nav-{{paper_mentions[year][0]}}" role="tab" aria-controls="nav-{{paper_mentions[year][0]}}" aria-selected="true">{{paper_mentions[year][0]}}</a>
                                            {% else %}
                                            <a class="nav-item nav-link" id="nav-{{paper_mentions[year][0]}}-tab" data-toggle="tab" href="#nav-{{paper_mentions[year][0]}}" role="tab" aria-controls="nav-{{paper_mentions[year][0]}}" aria-selected="false">{{paper_mentions[year][0]}}</a>
                                            {% endif %}
                                        {% endfor %}
                                        </div>
                                  </nav>
                                    <div class="tab-content" id="nav-tabContent">
                                        {% for year in range(paper_mentions | length) %}
                                        {% if year == 0%}
                                        <div class="tab-pane fade show active" id="nav-{{paper_mentions[year][0]}}" role="tabpanel" aria-labelledby="nav-{{paper_mentions[year][0]}}-tab">
                                            <div style="margin-top:20px;"></div>
                                            {% for item in paper_mentions[year][1] %}
                                                <div>
                                                    <h5><a href="{{item['url']}}" target="_blank">{{item['title']}}</a></h5>
                                                    <p style="font-size: 18px; color: grey"> Journal : {{item['journ']}} | {{item['ptime']}}
                                                        <br>
                                                        <span style="font-size: 16px; color: grey"> Authors : </span>
                                                    {% for auth in item['auth'] %}
                                                        <span style="font-size: 16px; color: grey"> {{auth}} |</span>
                                                    {% endfor %}
                                                    <br>
                                                    {% for ne in item['ner']['ner_protein'] %}
                                                    <a type="button" style="color: #F7819F !important;"class="btn btn-light" href="/entity/ner_protein/{{ne}}">{{ne}}</a>
                                                    {% endfor %}

                                                    {% for ne in item['ner']['ner_dna'] %}
                                                    <a type="button" style="color: #819FF7 !important;"class="btn btn-light" href="/entity/ner_dna/{{ne}}">{{ne}}</a>
                                                    {% endfor %}

                                                    {% for ne in item['ner']['ner_rna'] %}
                                                    <a type="button" style="color: #81F781 !important;"class="btn btn-light" href="/entity/ner_rna/{{ne}}">{{ne}}</a>
                                                    {% endfor %}

                                                    {% for ne in item['ner']['ner_ched'] %}
                                                    <a type="button" style="color: #F7BE81 !important;"class="btn btn-light" href="/entity/ner_ched/{{ne}}">{{ne}}</a>
                                                    {% endfor %}

                                                    {% for ne in item['ner']['ner_cell_type'] %}
                                                    <a type="button" style="color: #81DAF5 !important;"class="btn btn-light" href="/entity/ner_cell_type/{{ne}}">{{ne}}</a>
                                                    {% endfor %}

                                                    {% for ne in item['ner']['ner_cell_line'] %}
                                                    <a type="button" style="color: #F3F781 !important;"class="btn btn-light" href="/entity/ner_cell_line/{{ne}}">{{ne}}</a>
                                                    {% endfor %}
                                                    </p>
                                                </div>
                                                <br>
                                            {% endfor %}
                                        </div>
                                        {% else %}
                                        <div class="tab-pane fade" id="nav-{{paper_mentions[year][0]}}" role="tabpanel" aria-labelledby="nav-{{paper_mentions[year][0]}}-tab">
                                            <div style="margin-top:20px;">
                                            </div>
                                            {% for item in paper_mentions[year][1] %}
                                                <div>
                                                    <h5><a href="{{item['url']}}" target="_blank">{{item['title']}}</a></h5>
                                                    <p style="font-size: 18px; color: grey"> Journal : {{item['journ']}} | {{item['ptime']}}
                                                        <br>
                                                        <span style="font-size: 16px; color: grey"> Authors : </span>
                                                    {% for auth in item['auth'] %}
                                                        <span style="font-size: 16px; color: grey"> {{auth}} |</span>
                                                    {% endfor %}
                                                    <br>
                                                    {% for ne in item['ner']['ner_protein'] %}
                                                    <a type="button" style="color: #F7819F !important;"class="btn btn-light" href="/entity/ner_protein/{{ne}}">{{ne}}</a>
                                                    {% endfor %}

                                                    {% for ne in item['ner']['ner_dna'] %}
                                                    <a type="button" style="color: #819FF7 !important;"class="btn btn-light" href="/entity/ner_dna/{{ne}}">{{ne}}</a>
                                                    {% endfor %}

                                                    {% for ne in item['ner']['ner_rna'] %}
                                                    <a type="button" style="color: #81F781 !important;"class="btn btn-light" href="/entity/ner_rna/{{ne}}">{{ne}}</a>
                                                    {% endfor %}

                                                    {% for ne in item['ner']['ner_ched'] %}
                                                    <a type="button" style="color: #F7BE81 !important;"class="btn btn-light" href="/entity/ner_ched/{{ne}}">{{ne}}</a>
                                                    {% endfor %}

                                                    {% for ne in item['ner']['ner_cell_type'] %}
                                                    <a type="button" style="color: #81DAF5 !important;"class="btn btn-light" href="/entity/ner_cell_type/{{ne}}">{{ne}}</a>
                                                    {% endfor %}

                                                    {% for ne in item['ner']['ner_cell_line'] %}
                                                    <a type="button" style="color: #F3F781 !important;"class="btn btn-light" href="/entity/ner_cell_line/{{ne}}">{{ne}}</a>
                                                    {% endfor %}
                                                    </p>
                                                </div>
                                                <br>
                                            {% endfor %}
                                        </div>
                                        {% endif %}
                                        {% endfor %}
                                    </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </section>

        <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
        <script>
        $.ajax({
                type: "POST",
                url: "/get_data/prge",
                contentType: 'application/json',
                // start_time: new Date().getTime(),
                // complete: function(data) {
                //     alert('This request took '+(new Date().getTime() - this.start_time)+' ms');},
                data: JSON.stringify({
                    ent_name: "{{ent_name}}",
                    ent_type: "{{ent_type}}"
                }),
                success: function(resp) {
                    var data = [
                        {
                            x: resp.years,
                            y: resp.yearwise_mentions,
                            type: 'bar',
                            marker: {color: 'rgba(0, 179, 188, 1)'},
                        }
                    ];

                    var layout = {
                        title: {
                            text: "Mention Distribution Over Years",
                        },
                        xaxis:{'tickformat': 'd'}
                        // marker: {
                        //     color: rgba(0, 179, 188, 1)
                        // }
                    }
                    Plotly.newPlot('mention-year', data,layout, {showSendToCloud:true});
                }
        })
        </script>
        <script>
            $('ol.expandible').each(function(){
                var $ol = $(this),
                    $lis = $ol.find('li:gt(19)'),
                    isExpanded = $ol.hasClass('expanded');
                $lis[isExpanded ? 'show' : 'hide']();

                if($lis.length > 0){
                    $ol
                        .prepend($('<span class="showmore-button" style="margin-left: 10px;">' + (isExpanded ? 'Show Less' : 'Show More') + '</span>')
                        .click(function(event){
                            var isExpanded = $ol.hasClass('expanded');
                            // event.preventDefault();
                            $(this).html(isExpanded ? 'Show More' : 'Show Less');
                            $ol.toggleClass('expanded');
                            $lis.toggle();
                        }));
                }
            });
        </script>
        <br>


        {% include 'footerbar.html' %}
    </body>
</html>
