<html>
    <head>
        {% include 'head.html' %}
    </head>

    <body>
        {% include 'navbar.html' %}
        <section>
            <div class='container-fluid'>
                <div class="row" style="margin-top:50px">
                    <div class="col-lg-5 offset-lg-1">
                        <h3>{{ent_name}}</h3>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-4 author-info offset-lg-1" style="margin-top: 20px">
                        <div class="card">
                            <div class="card-body">
                                <h5>Document Frequency: <span style="font-size:36px; color:00b3bc !important;">{{ doc_freq }}</span></h5>
                            </div>
                        </div>
                        <br>
                        <br>
                        <br>
                        <div class="card">
                            <div class="card-body">
                                <h5>First Mention:</h5>
                                <div>
                                    <h5><a href="{{first_mention['url']}}" target="_blank">{{first_mention['title']}}</a></h5>
                                    <p style="font-size: 18px; color: grey"> Journal : {{first_mention['journ']}} | {{first_mention['ptime']}}
                                        <br>
                                        <span style="font-size: 16px; color: grey"> Authors : </span>
                                        {% for auth in first_mention['auth'] %}
                                            <span style="font-size: 16px; color: grey"> {{auth}} |</span>
                                        {% endfor %}
                                    </p>
                                </div>                                
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 author-info offset-md1" style="margin-top: 20px">
                        <div class="card">
                            <div class="card-body">
                                <h5>Mention distribution over years</h5>
                                <div id="mention-year">

                                </div>
                            </div>
                        </div>
                    </div>

                </div>

                <div class="row">
                    <div class="col-lg-10 author-info offset-lg-1">
                        <div class="card" style="margin-top: 20px">
                            <div class="card-body">
                                <h5>Co-mentioned Entities:</h5>
                                <p style="font-size: 18px; color: grey">
                                    {% for gene in co_mentions %}
                                    <a type="button" style="color: 00b3bc !important;"class="btn btn-light" href="/entity/{{ent_type}}/{{gene}}">{{gene}}</a>
                                    {% endfor %}
                                </p>
                            </div>
                                <div class="dashboard_graph">
                                    <div style="width: 100%; min-height:600px;" >
                                        <iframe
                                          noresize='noresize'
                                          style='position: absolute; background: transparent; width: 95%; height:100%;'
                                          src="/graphs/entity={{ent_name}}&ent_type={{ent_type}}"
                                          frameborder="0">
                                        </iframe>
                                    </div>
                                </div>
                        </div>
                    </div>
                </div>


                <div class="row">
                    <div class="col-lg-10 author-info offset-lg-1">
                        <div class="card" style="margin-top: 20px">

                            <div class="card-body">
                                <h5>Mentions:-</h5>
                                  {% for item in paper_mentions %}
                                  <div>
                                        <h5><a href="{{item['url']}}" target="_blank">{{item['title']}}</a></h5>
                                        <p style="font-size: 18px; color: grey"> Journal : {{item['journ']}} | {{item['ptime']}}
                                            <br>
                                            <span style="font-size: 16px; color: grey"> Authors : </span>
                                        {% for auth in item['auth'] %}
                                            <span style="font-size: 16px; color: grey"> {{auth}} |</span>
                                        {% endfor %}
                                        </p>
                                  </div>
                                  {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>







                        <!-- <div class="card" style="margin-top: 20px">           
                            <div class="card-body">
                                <h5 style="margin-top: 10px">Mentions:</h5>
                                {% for paper in paper_mentions %}
                                <div>
                                    <h5><a href="{{paper[1]}}" target="_blank">{{paper[0]}}</a></h5>
                                    <p style="font-size: 18px; color: grey"> Journal : {{paper[2]}} | {{paper[3]}}</p>
                                </div>
                                {% endfor %}

                            </div>
                        </div> -->
            </div>

        </section>

        <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
        <script>
        $.ajax({
                type: "POST",
                url: "/get_data/prge",
                contentType: 'application/json',
                data: JSON.stringify({
                    ent_name: "{{ent_name}}",
                    ent_type: "{{ent_type}}"
                }),
                success: function(resp) {
                    var data = [
                        {
                            x: resp.years,
                            y: resp.yearwise_mentions,
                            type: 'bar',
                            marker: {color: 'rgba(0, 179, 188, 1)'},
                        }
                    ];

                    var layout = {
                        title: {
                            text: "Mention Distribution Over Years",
                        },
                        xaxis:{'tickformat': 'd'}
                        // marker: {
                        //     color: rgba(0, 179, 188, 1)
                        // }
                    }
                    Plotly.newPlot('mention-year', data,layout, {showSendToCloud:true});
                }
        })
        </script>
        <br>


        {% include 'footerbar.html' %}
    </body>
</html>