<html>
        {% include 'head.html' %}

    <body>
        {% include 'navbar.html' %}
        <div class="container" style="margin-top:100px">
            <h3 style="margin-top:100px; margin-bottom: 50px;">Search Results</h3>
            <div class="row">
                <div class="col-lg-3">
                    <h5 style="margin-bottom: 20px">Paper</h5>
                    {% if paper_items|length > 0 %}
                        {% for paper_item in paper_items %}
                            <div>
                                <h5><a style="font-size: 18px; color: black" href="/paper/{{ paper_item[0] }}">{{ paper_item[1] }}</a></h5>
                            </div>
                            <hr>
                        {% endfor %}
                    {% else %}
                        <div>
                            <h6> No Results </h6>
                        </div>
                    {% endif %}
                </div>
                <div class="col-lg-2">
                    <h5 style="margin-bottom: 20px">Author</h5>
                    {% if auth_items|length > 0 %}
                        {% for auth_item in auth_items %}
                            <p>
                                <span style="font-size: 18px;"><a href="/author/{{ auth_item['id'] }}">{{ auth_item['title'] }}</a></span>
                            </p>
                            <hr>
                        {% endfor %}
                    {% else %}
                        <div>
                            <h6> No Results </h6>
                        </div>
                    {% endif %}
                </div>
                <div class="col-lg-1">
                    <h5 style="margin-bottom: 20px">Venues</h5>
                    {% if conf_items|length > 0 %}
                        {% for conf_item in conf_items %}
                            <p>
                                <span style="font-size: 18px;"><a href="/conference/{{ conf_item[0] }}-{{ conf_item[1] }}">{{ conf_item[0] }}-{{ conf_item[1] }}</a></span>
                            </p>
                            <hr>
                        {% endfor %}
                    {% else %}
                        <div>
                            <h6> No Results </h6>
                        </div>
                    {% endif %}
                </div>
            <!-- </div>
             <div class="row"> -->
                <div class="col-lg-1">
                    <h5 style="margin-bottom: 20px">URLs</h5>
                    {% if domain_items|length > 0 %}
                        {% for paper_item in domain_items %}
                            <div>
                                <h5><a style="font-size: 18px; color: black" href="/url/{{ paper_item }}">{{ paper_item }}</a></h5>
                            </div>
                            <hr>
                        {% endfor %}
                    {% else %}
                        <div>
                            <h6> No Results </h6>
                        </div>
                    {% endif %}
                </div>
                <div class="col-lg-2">
                    <h5 style="margin-bottom: 20px">Field of Study</h5>
                    {% if fos_items|length > 0 %}
                        {% for fos in fos_items %}
                            <p>
                                <span style="font-size: 18px;"><a href="/fos_all/{{ fos[1] }}/{{ fos[2] }}">{{ fos[0] }}</a></span>
                            </p>
                            <hr>
                        {% endfor %}
                    {% else %}
                        <div>
                            <h6> No Results </h6>
                        </div>
                    {% endif %}
                </div>
                <div class="col-lg-3">
                    <h5 style="margin-bottom: 20px">Full-Text</h5>
                    {% if full_items|length > 0 %}
                        {% for item in full_items %}
                            <p>
                                <span style="font-size: 18px;"><a href="/paper/{{item[0]}}">{{ item[1] }}</a></span>
                            </p>
                            <hr>
                        {% endfor %}
                    {% else %}
                        <div>
                            <h6> No Results </h6>
                        </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </body>
</html>
