<html>
        
    <head>

        <link href="{{ url_for('static',filename='rSlider.min.css') }}" rel="stylesheet" type="text/css"> </link>
    </head>
    {% include 'head.html' %}
    <body>
        {% include 'navbar.html' %}
        {% include 'second-nav.html' %}
        
        <script src="{{ url_for('static',filename='rSlider.min.js') }}"></script>

        <div class="container-fluid">
            <div class="row" style="margin-top:50px; margin-bottom: 50px;">
                <div class="col-lg-10 offset-lg-1">
                    <h3>{{field}} Search Results: <span id="keyword">{{keyword}}</span></h3>
                    <span style='visibility: hidden;' id="field">{{field}}</span>
                </div>
            </div>

            <div class="row" style="margin-top:50px;">
                <div class="col-lg-10 offset-lg-1">
                    <input type="text" id="yr-slider" class="slider">
                </div>
            </div>

            <div class="row no-gutters" style="margin-top:50px; " id="result">
                <div class="column-lg-3" style="float:left; padding-left: 3%;" >

                    <!-- Protein Filter Box -->
                    <div class="card text-center">
                        <div class="card-body">
                            <h5 class="card-title">Filter year results by Proteins</h5>
                            <ol class="expandible" style="list-style-type:none;">
                                <br>
                            {% for item in protein %}
                            <li>
                                <div class="inline" style="margin-top: 5px">
                                    <span style="margin-left: 10px;">
                                        <button type=button id="protein:{{item}}" name="protein:{{item}}" value="protein:{{item}}" class="btn btn-light" onclick="filterby(this)">{{item}}</button></span>
                                </div>
                            </li>
                            {% endfor %}
                        </ol>
                        </div>
                    </div>

                    <!-- DNA Filter Box -->
                    <div class="card text-center">
                        <div class="card-body">
                            <h5 class="card-title">Filter year results by DNA</h5>
                            <ol class="expandible" style="list-style-type:none;">
                                <br>
                            {% for item in dna %}
                            <li>
                                <div class="inline" style="margin-top: 5px">
                                    <span style="margin-left: 10px;">
                                        <button type=button id="dna:{{item}}" name="dna:{{item}}" value="dna:{{item}}" class="btn btn-light" onclick="filterby(this)">{{item}}</button></span>
                                </div>
                            </li>
                            {% endfor %}
                        </ol>
                        </div>
                    </div>

                    <!-- RNA Filter Box -->
                    <div class="card text-center">
                        <div class="card-body">
                            <h5 class="card-title">Filter year results by RNA</h5>
                            <ol class="expandible" style="list-style-type:none;">
                                <br>
                            {% for item in rna %}
                            <li>
                                <div class="inline" style="margin-top: 5px">
                                    <span style="margin-left: 10px;">
                                        <button type=button id="rna:{{item}}" name="rna:{{item}}" value="rna:{{item}}" class="btn btn-light" onclick="filterby(this)">{{item}}</button></span>
                                </div>
                            </li>
                            {% endfor %}
                        </ol>
                        </div>
                    </div>

                    <!-- CHED Filter Box -->
                    <div class="card text-center">
                        <div class="card-body">
                            <h5 class="card-title">Filter year results by Chemical Entities</h5>
                            <ol class="expandible" style="list-style-type:none;">
                                <br>
                            {% for item in ched %}
                            <li>
                                <div class="inline" style="margin-top: 5px">
                                    <span style="margin-left: 10px;">
                                        <button type=button id="ched:{{item}}" name="ched:{{item}}" value="ched:{{item}}" class="btn btn-light" onclick="filterby(this)">{{item}}</button></span>
                                </div>
                            </li>
                            {% endfor %}
                        </ol>
                        </div>
                    </div>

                    <!-- Cell Type Filter Box -->
                    <div class="card text-center">
                        <div class="card-body">
                            <h5 class="card-title">Filter year results by Cell Types</h5>
                            <ol class="expandible" style="list-style-type:none;">
                                <br>
                            {% for item in celltype %}
                            <li>
                                <div class="inline" style="margin-top: 5px">
                                    <span style="margin-left: 10px;">
                                        <button type=button id="celltype:{{item}}" name="celltype:{{item}}" value="celltype:{{item}}" class="btn btn-light" onclick="filterby(this)">{{item}}</button></span>
                                </div>
                            </li>
                            {% endfor %}
                        </ol>
                        </div>
                    </div>

                    <!-- Cell Line Filter Box -->
                    <div class="card text-center">
                        <div class="card-body">
                            <h5 class="card-title">Filter year results by Cell Lines</h5>
                            <ol class="expandible" style="list-style-type:none;">
                                <br>
                            {% for item in cellline %}
                            <li>
                                <div class="inline" style="margin-top: 5px">
                                    <span style="margin-left: 10px;">
                                        <button type=button id="cellline:{{item}}" name="cellline:{{item}}" value="cellline:{{item}}" class="btn btn-light" onclick="filterby(this)">{{item}}</button></span>
                                </div>
                            </li>
                            {% endfor %}
                        </ol>
                        </div>
                    </div>

                </div>

                <div class="column-lg-9" style="float: right; width: 70%; padding-left: 5%;" id="gene_filter_result">
                    <nav>
                        <div class="nav nav-tabs" id="nav-tab" role="tablist">
                        {% for year in range(items | length) %}
                            {% if year == 0%}
                            <a class="nav-item nav-link active" id="nav-{{items[year][0]}}-tab" data-toggle="tab" href="#nav-{{items[year][0]}}" role="tab" aria-controls="nav-{{items[year][0]}}" aria-selected="true">{{items[year][0]}}</a>
                            {% else %}
                            <a class="nav-item nav-link" id="nav-{{items[year][0]}}-tab" data-toggle="tab" href="#nav-{{items[year][0]}}" role="tab" aria-controls="nav-{{items[year][0]}}" aria-selected="false">{{items[year][0]}}</a>
                            {% endif %}
                        {% endfor %}
                        </div>
                    </nav>
                    <div class="tab-content" id="nav-tabContent">
                        {% for year in range(items | length) %}
                        {% if year == 0%}
                        <div class="tab-pane fade show active" id="nav-{{items[year][0]}}" role="tabpanel" aria-labelledby="nav-{{items[year][0]}}-tab">
                            <div style="margin-top:20px;"></div>
                            {% for item in items[year][1] %}
                                <div>
                                    <h5><a href="{{item['url']}}" target="_blank">{{item['title']}}</a></h5>
                                    <p style="font-size: 18px; color: grey"> Journal : {{item['journ']}} | {{item['ptime']}}
                                        <br>
                                        <span style="font-size: 16px; color: grey"> Authors : </span>
                                    {% for auth in item['auth'] %}
                                        <span style="font-size: 16px; color: grey"> {{auth}} |</span>
                                    {% endfor %}
                                    <br>
                                    {% for ne in item['ner']['ner_protein'] %}
                                    <a type="button" style="color: #F7819F !important;"class="btn btn-light" href="/entity/ner_protein/{{ne}}">{{ne}}</a>
                                    {% endfor %}
                                    
                                    {% for ne in item['ner']['ner_dna'] %}
                                    <a type="button" style="color: #819FF7 !important;"class="btn btn-light" href="/entity/ner_dna/{{ne}}">{{ne}}</a>
                                    {% endfor %}
                                    
                                    {% for ne in item['ner']['ner_rna'] %}
                                    <a type="button" style="color: #81F781 !important;"class="btn btn-light" href="/entity/ner_rna/{{ne}}">{{ne}}</a>
                                    {% endfor %}
                                    
                                    {% for ne in item['ner']['ner_ched'] %}
                                    <a type="button" style="color: #F7BE81 !important;"class="btn btn-light" href="/entity/ner_ched/{{ne}}">{{ne}}</a>
                                    {% endfor %}
                                    
                                    {% for ne in item['ner']['ner_cell_type'] %}
                                    <a type="button" style="color: #81DAF5 !important;"class="btn btn-light" href="/entity/ner_cell_type/{{ne}}">{{ne}}</a>
                                    {% endfor %}
                                    
                                    {% for ne in item['ner']['ner_cell_line'] %}
                                    <a type="button" style="color: #F3F781 !important;"class="btn btn-light" href="/entity/ner_cell_line/{{ne}}">{{ne}}</a>
                                    {% endfor %}
                                    </p>
                                </div>
                                <br>
                            {% endfor %}
                        </div>
                        {% else %}
                        <div class="tab-pane fade" id="nav-{{items[year][0]}}" role="tabpanel" aria-labelledby="nav-{{items[year][0]}}-tab">
                            <div style="margin-top:20px;">
                            </div>
                            {% for item in items[year][1] %}
                                <div>
                                    <h5><a href="{{item['url']}}" target="_blank">{{item['title']}}</a></h5>
                                    <p style="font-size: 18px; color: grey"> Journal : {{item['journ']}} | {{item['ptime']}}
                                        <br>
                                        <span style="font-size: 16px; color: grey"> Authors : </span>
                                    {% for auth in item['auth'] %}
                                        <span style="font-size: 16px; color: grey"> {{auth}} |</span>
                                    {% endfor %}
                                    <br>
                                    {% for ne in item['ner']['ner_protein'] %}
                                    <a type="button" style="color: #F7819F !important;"class="btn btn-light" href="/entity/ner_protein/{{ne}}">{{ne}}</a>
                                    {% endfor %}
                                    
                                    {% for ne in item['ner']['ner_dna'] %}
                                    <a type="button" style="color: #819FF7 !important;"class="btn btn-light" href="/entity/ner_dna/{{ne}}">{{ne}}</a>
                                    {% endfor %}
                                    
                                    {% for ne in item['ner']['ner_rna'] %}
                                    <a type="button" style="color: #81F781 !important;"class="btn btn-light" href="/entity/ner_rna/{{ne}}">{{ne}}</a>
                                    {% endfor %}
                                    
                                    {% for ne in item['ner']['ner_ched'] %}
                                    <a type="button" style="color: #F7BE81 !important;"class="btn btn-light" href="/entity/ner_ched/{{ne}}">{{ne}}</a>
                                    {% endfor %}
                                    
                                    {% for ne in item['ner']['ner_cell_type'] %}
                                    <a type="button" style="color: #81DAF5 !important;"class="btn btn-light" href="/entity/ner_cell_type/{{ne}}">{{ne}}</a>
                                    {% endfor %}
                                    
                                    {% for ne in item['ner']['ner_cell_line'] %}
                                    <a type="button" style="color: #F3F781 !important;"class="btn btn-light" href="/entity/ner_cell_line/{{ne}}">{{ne}}</a>
                                    {% endfor %}
                                    </p>
                                </div>
                                <br>
                            {% endfor %}
                        </div>
                        {% endif %}
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>

        <script>
            $('ol.expandible').each(function(){
                var $ol = $(this),
                    $lis = $ol.find('li:gt(9)'),
                    isExpanded = $ol.hasClass('expanded');
                $lis[isExpanded ? 'show' : 'hide']();
                
                if($lis.length > 0){
                    $ol
                        .prepend($('<span class="showmore-button">' + (isExpanded ? 'Show Less' : 'Show More') + '</span>')
                        .click(function(event){
                            var isExpanded = $ol.hasClass('expanded');
                            // event.preventDefault();
                            $(this).html(isExpanded ? 'Show More' : 'Show Less');
                            $ol.toggleClass('expanded');
                            $lis.toggle();
                        }));
                }
            });
        </script>    

        {% include 'footerbar.html' %}
    </body>
    <script src="{{ url_for('static',filename='year_slider.js') }}"></script>
    <script src="{{ url_for('static',filename='gene_filter.js') }}"></script>
</html>
