<html>
        
    <head>

        <link href="{{ url_for('static',filename='rSlider.min.css') }}" rel="stylesheet" type="text/css"> </link>
    </head>
    {% include 'head.html' %}
    <body>
        {% include 'navbar.html' %}
        {% include 'second-nav.html' %}
        
        <script src="{{ url_for('static',filename='rSlider.min.js') }}"></script>

        <div class="container-fluid">
            <div class="row" style="margin-top:50px; margin-bottom: 50px;">
                <div class="col-lg-10 offset-lg-1">
                    <h3>{{field}} Search Results: <span id="keyword">{{keyword}}</span></h3>
                    <span style='visibility: hidden;' id="field">{{field}}</span>
                </div>
            </div>

            <div class="row" style="margin-top:50px;padding-left: 10%;">
                <div class="col-lg-10">
                    <input type="text" id="yr-slider" class="slider">
                </div>
            </div>

            <div class="row" style="margin-top:50px; " id="result">
                    <div class="column-lg-9" style="float:left; width:25%;padding-left: 5%;">
                        <div class="card text-center">
                            <div class="card-body">
                                <h5 class="card-title">Filter year results by Proteins and Genes</h5>
                                <ol class="expandible" style="list-style-type:none;">
                                    <br>
                                {% for item in prge %}
                                <li>
                                    <div class="inline" style="margin-top: 5px">
                                        <span style="margin-left: 10px;">
                                            <button type=button id="prge:{{item}}" name="prge:{{item}}" value="prge:{{item}}" class="btn btn-light" onclick="filterby(this)">{{item}}</button></span>
                                    </div>
                                </li>
                                {% endfor %}
                            </ol>
                            </div>
                        </div>
                        <div class="card text-center">
                            <div class="card-body">
                                <h5 class="card-title">Filter year results by Chemical Entities</h5>
                                <ol class="expandible" style="list-style-type:none;">
                                    <br>
                                {% for item in ched %}
                                <li>
                                    <div class="inline" style="margin-top: 5px">
                                        <span style="margin-left: 10px;">
                                            <button type=button id="ched:{{item}}" name="ched:{{item}}" value="ched:{{item}}" class="btn btn-light" onclick="filterby(this)">{{item}}</button></span>
                                    </div>
                                </li>
                                {% endfor %}
                            </ol>
                            </div>
                        </div>
                    </div>

                    <div style="float:right; width:75%; padding-left: 10%; padding-right: 10%;" id="gene_filter_result">
                        <nav>
                            <div class="nav nav-tabs" id="nav-tab" role="tablist">
                            {% for year in range(items | length) %}
                                {% if year == 0%}
                                <a class="nav-item nav-link active" id="nav-{{items[year][0]}}-tab" data-toggle="tab" href="#nav-{{items[year][0]}}" role="tab" aria-controls="nav-{{items[year][0]}}" aria-selected="true">{{items[year][0]}}</a>
                                {% else %}
                                <a class="nav-item nav-link" id="nav-{{items[year][0]}}-tab" data-toggle="tab" href="#nav-{{items[year][0]}}" role="tab" aria-controls="nav-{{items[year][0]}}" aria-selected="false">{{items[year][0]}}</a>
                                {% endif %}
                            {% endfor %}
                            </div>
                        </nav>
                        <div class="tab-content" id="nav-tabContent">
                            {% for year in range(items | length) %}
                            {% if year == 0%}
                            <div class="tab-pane fade show active" id="nav-{{items[year][0]}}" role="tabpanel" aria-labelledby="nav-{{items[year][0]}}-tab">
                                <div style="margin-top:20px;"></div>
                                {% for item in items[year][1] %}
                                    <div>
                                        <h5><a href="{{item['url']}}" target="_blank">{{item['title']}}</a></h5>
                                        <p style="font-size: 18px; color: grey"> Journal : {{item['journ']}} | {{item['ptime']}}
                                            <br>
                                            <span style="font-size: 16px; color: grey"> Authors : </span>
                                        {% for auth in item['auth'] %}
                                            <span style="font-size: 16px; color: grey"> {{auth}} |</span>
                                        {% endfor %}
                                        <br>
                                        {% for ne in item['prge'] %}
                                        <a type="button" style="color: 00b3bc !important;"class="btn btn-light" href="/entity/prge/{{ne}}">{{ne}}</a>
                                        {% endfor %}
                                        <br>
                                        {% for ne in item['ched'] %}
                                        <a type="button" style="color: c38d9e !important;"class="btn btn-light" href="/entity/ched/{{ne}}">{{ne}}</a>
                                        {% endfor %}
                                        </p>
                                    </div>
                                    <br>
                                {% endfor %}
                            </div>
                            {% else %}
                            <div class="tab-pane fade" id="nav-{{items[year][0]}}" role="tabpanel" aria-labelledby="nav-{{items[year][0]}}-tab">
                                <div style="margin-top:20px;">
                                </div>
                                {% for item in items[year][1] %}
                                    <div>
                                        <h5><a href="{{item['url']}}" target="_blank">{{item['title']}}</a></h5>
                                        <p style="font-size: 18px; color: grey"> Journal : {{item['journ']}} | {{item['ptime']}}
                                            <br>
                                            <span style="font-size: 16px; color: grey"> Authors : </span>
                                        {% for auth in item['auth'] %}
                                            <span style="font-size: 16px; color: grey"> {{auth}} |</span>
                                        {% endfor %}
                                        <br>
                                        {% for ne in item['prge'] %}
                                        <a type="button" style="color: 00b3bc !important;"class="btn btn-light" href="/entity/prge/{{ne}}">{{ne}}</a>
                                        {% endfor %}
                                        <br>
                                        {% for ne in item['ched'] %}
                                        <a type="button" style="color: c38d9e !important;"class="btn btn-light" href="/entity/ched/{{ne}}">{{ne}}</a>
                                        {% endfor %}
                                        </p>
                                    </div>
                                    <br>
                                {% endfor %}
                            </div>
                            {% endif %}
                            {% endfor %}
                        </div>
                    </div>
            </div>
        </div>

        <script>
            $('ol.expandible').each(function(){
                var $ol = $(this),
                    $lis = $ol.find('li:gt(9)'),
                    isExpanded = $ol.hasClass('expanded');
                $lis[isExpanded ? 'show' : 'hide']();
                
                if($lis.length > 0){
                    $ol
                        .prepend($('<span class="showmore-button">' + (isExpanded ? 'Show Less' : 'Show More') + '</span>')
                        .click(function(event){
                            var isExpanded = $ol.hasClass('expanded');
                            // event.preventDefault();
                            $(this).html(isExpanded ? 'Show More' : 'Show Less');
                            $ol.toggleClass('expanded');
                            $lis.toggle();
                        }));
                }
            });
        </script>    

        {% include 'footerbar.html' %}
    </body>
    <script src="{{ url_for('static',filename='year_slider.js') }}"></script>
    <script src="{{ url_for('static',filename='gene_filter.js') }}"></script>
</html>
