<html>
        {% include 'head.html' %}

    <body>
        {% include 'navbar.html' %}
        {% include 'second-nav.html' %}
        <section>

        </section>
        <div class="container" style="margin-top:10px">
            <h3 style="margin-top:50px; margin-bottom: 50px;">Paper Search Results</h3>
            {% for item in items %}
                <div>
                    <h5><a style="font-size: 18px; color: black" href="/paper/{{ item[0] }}">{{ item[1] }}</a></h5>
                </div>
                <hr>
            {% endfor %}
        </div>
    </body>

</html>
