<!DOCTYPE html> 
<html>
    {% include 'head.html' %}
<head>
  <meta charset="UTF-8">
<link rel="stylesheet" href="static/w3.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.3.0/css/font-awesome.min.css">
</head>

<!--------------------------------------------------------------------------------------------------->

<body>
  {% include 'navbar.html' %}
<style>
  .cloud{
    border-radius: 10px;
    background-color: #ffdebb;
    box-shadow: 10px 10px 10px 0px rgb(199, 176, 176);
  }

  .w3-button{
    border-radius: 7px;
    background-color: #000;
    color: white;
  }
  .btn{
    background-color: #a8bbf5;
    border-top: solid 2px black; border-bottom: black solid 2px;
  }
  .active{
    background-color:rgb(175, 170, 170);
    color: black;
  }
</style>

<section class="row" style="margin-bottom: 110px; background-color: rgb(202, 200, 200); border-bottom: black solid;">
    <div class="col-12 col-sm-5" style="margin-top: 80px; color: white;">
        <lottie-player src="static\twitter-notification.json" background="transparent" speed="0.8"  style="width: 300px; height: 300px;margin-left: auto;margin-right: auto;" loop  autoplay></lottie-player>
    </div>
    <div class="w3-margin-top col-12 col-sm-6" style="text-align: center;">
      <h1 style="margin-left: 0px; margin-top: 80px;font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; color: #1DA1F2; font-size: 6rem;text-shadow:3px 3px rgb(92, 92, 92);">Social Media Discussions</h1>
      <h3 style="font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; font-style:italic ;margin-bottom: 100px; word-spacing: 5px; letter-spacing: 1px;">Corona stories from 85 Million Tweets</h3>
    </div>
</section>
<!--------------------------------------------------------------------------------------------------->

<section>
  <div class="w3-card btn" style="width: 100%; margin-bottom: 50px;">
    <h2>Twitter Activity Timeline</h2>
  </div>
  <div id="chartdiv" style="height: 500px;"></div>
</section>

<!--------------------------------------------------------------------------------------------------->

<div class="w3-row-padding w3-center w3-margin-top">
  <div class="w3-half">  
    <div class="w3-card btn" style="margin-top: 100px;">
      <h2>Top Hashtags Every Month</h2>
    </div>
    <div class="w3-row-padding"style = "margin-top: 70px">
      <button class="w3-button" id="hash_jan" onclick="hash_jan()">Jan</button>
      <button class="w3-button" id="hash_feb" onclick="hash_feb();">Feb</button>
      <button class="w3-button" id="hash_mar" onclick="hash_mar();">Mar</button>
      <button class="w3-button" id="hash_apr" style="display: none;">Apr</button>
    </div>
  </div>
  <div class="w3-half">
    <div class=" w3-container w3-card cloud" id="hashtags_jan" style="min-height:460px"></div>
    <div class=" w3-container w3-card cloud" id="hashtags_feb" style="min-height:460px; display: none;"></div>
    <div class=" w3-container w3-card cloud" id="hashtags_mar" style="min-height:460px; display: none;"></div>
    <div class=" w3-container w3-card cloud" id="hashtags_apr" style="min-height:460px; display: none;"></div>
  </div>
</div>

<!--------------------------------------------------------------------------------------------------->

<div class="w3-row-padding w3-center w3-margin-top">
  <div class="w3-half w3-right">  
    <div class="w3-card btn" style="margin-top: 100px;">
      <h2>Top Mentions Every Month</h2>
    </div>
    <div class="w3-row-padding"style = "margin-top: 70px">
      <button class="w3-button w3-theme" id="ment_jan" onclick="ment_jan()">Jan</button>
      <button class="w3-button w3-theme" id="ment_feb" onclick="ment_feb();">Feb</button>
      <button class="w3-button w3-theme" id="ment_mar" onclick="ment_mar();">Mar</button>
      <button class="w3-button w3-theme" id="ment_apr" style="display: none;">Apr</button>
    </div>
  </div>
  <div class="w3-half">
    <div class="w3-card w3-container cloud" id="mentions_jan" style="min-height:460px"></div>
    <div class="w3-card w3-container cloud" id="mentions_feb" style="min-height:460px; display: none;"></div>
    <div class="w3-card w3-container cloud" id="mentions_mar" style="min-height:460px; display: none;"></div>
    <div class="w3-card w3-container cloud" id="mentions_apr" style="min-height:460px; display: none;"></div>
  </div>
</div>

<!--------------------------------------------------------------------------------------------------->

<div class="w3-row-padding w3-center w3-margin-top">
  <div class="w3-half">  
    <div class="w3-card btn" style="margin-top: 100px;">
      <h2>Top Locations Every Month</h2>
    </div>
    <div class="w3-row-padding"style = "margin-top: 70px">
      <button class="w3-button w3-theme" id="loc_jan" onclick="loc_jan()">Jan</button>
      <button class="w3-button w3-theme" id="loc_feb" onclick="loc_feb()">Feb</button>
      <button class="w3-button w3-theme" id="loc_mar" onclick="loc_mar()">Mar</button>
      <button class="w3-button w3-theme" id="loc_apr" style="display: none;">Apr</button>
    </div>
  </div>
  <div class="w3-half">
    <div class="w3-card w3-container cloud" id="locations_jan" style="min-height:460px"></div>
    <div class="w3-card w3-container cloud" id="locations_feb" style="min-height:460px; display: none;"></div>
    <div class="w3-card w3-container cloud" id="locations_mar" style="min-height:460px; display: none;"></div>
    <div class="w3-card w3-container cloud" id="locations_apr" style="min-height:460px; display: none;"></div>
  </div>
</div> 

<!--------------------------------------------------------------------------------------------------->

<div class="w3-row-padding w3-center w3-margin-top">
  <div class="w3-half w3-right">  
    <div class="w3-card btn" style="margin-top: 100px;">
      <h2>Top Domains Every Month</h2>
    </div>
    <div class="w3-row-padding"style = "margin-top: 70px">
      <button class="w3-button w3-theme" id="dom_jan" onclick="domain_jan()">Jan</button>
      <button class="w3-button w3-theme" id="dom_feb" onclick="domain_feb()">Feb</button>
      <button class="w3-button w3-theme" id="dom_mar" onclick="domain_mar()">Mar</button>
      <button class="w3-button w3-theme" id="dom_apr" style="display: none;">Apr</button>
    </div>
  </div>
  <div class="w3-half">
    <div class="w3-card w3-container cloud" id="domains_jan" style="min-height:460px"></div>
    <div class="w3-card w3-container cloud" id="domains_feb" style="min-height:460px; display: none;"></div>
    <div class="w3-card w3-container cloud" id="domains_mar" style="min-height:460px; display: none;"></div>
    <div class="w3-card w3-container cloud" id="domains_apr" style="min-height:460px; display: none;"></div>
  </div>
</div>

</body>

</html>

<!--------------------------------------------------------------------------------------------------->

<script src="static\lottie-player.js"></script>
<script src="https://www.amcharts.com/lib/4/core.js"></script>
<script src="https://www.amcharts.com/lib/4/charts.js"></script>
<script src="https://www.amcharts.com/lib/4/plugins/wordCloud.js"></script>
<script src="https://www.amcharts.com/lib/4/themes/animated.js"></script>

<!--------------------------------------------------------------------------------------------------->

<!-- DEFAULTS -->

<script>
  am4core.ready(function(){
    hash_jan();
    ment_jan();
    loc_feb();
    domain_jan();
  })
</script>

<!--------------------------------------------------------------------------------------------------->

<!--HASHTAGS-->
<!--January-->
<script>
  function hash_jan(){
    document.getElementById("hashtags_jan").style.display = "block";
    document.getElementById("hashtags_feb").style.display = "none";
    document.getElementById("hashtags_mar").style.display = "none";
    document.getElementById("hashtags_apr").style.display = "none";
    document.getElementById("hash_jan").classList.add("active")
    document.getElementById("hash_feb").classList.remove("active")
    document.getElementById("hash_mar").classList.remove("active")
    document.getElementById("hash_apr").classList.remove("active")
    am4core.useTheme(am4themes_animated);
    am4core.useTheme(am4themes_animated);
    var chart = am4core.create("hashtags_jan", am4plugins_wordCloud.WordCloud);
    var series = chart.series.push(new am4plugins_wordCloud.WordCloudSeries());
    series.data = [{
      "tag": "#coronavirus",
      "weight": 76199
    }, {
      "tag": "#china",
      "weight": 13104
    }, {
      "tag": "#wuhan",
      "weight": 10229
    }, {
      "tag": "#coronavirusoutbreak",
      "weight": 7766
    }, {
      "tag": "#coronavirusindia",
      "weight": 3885
    }, {
      "tag": "#india",
      "weight": 3680
    }, {
      "tag": "wuhancoronavirus",
      "weight": 2980
    }, {
      "tag": "#coronaoutbreak",
      "weight": 2297
    }, {
      "tag": "#ncov2020",
      "weight": 2142
    }, {
      "tag": "#breaking",
      "weight": 2108
    }, {
      "tag": "#kerela",
      "weight": 1979}];
    series.labels.template.tooltipText = "{word}:\n[bold]{value}[/]";
    series.dataFields.word = "tag";
    series.dataFields.value = "weight";
  }
</script>

<!--February-->
<script>  
  function hash_feb(){
      document.getElementById("hashtags_jan").style.display = "none";
      document.getElementById("hashtags_feb").style.display = "block";
      document.getElementById("hashtags_mar").style.display = "none";
      document.getElementById("hashtags_apr").style.display = "none";
      document.getElementById("hash_jan").classList.remove("active")
      document.getElementById("hash_feb").classList.add("active")
      document.getElementById("hash_mar").classList.remove("active")
      document.getElementById("hash_apr").classList.remove("active")
      am4core.useTheme(am4themes_animated);              
      am4core.useTheme(am4themes_animated);
      var chart = am4core.create("hashtags_feb", am4plugins_wordCloud.WordCloud);
      var series = chart.series.push(new am4plugins_wordCloud.WordCloudSeries());

      series.data = [{
                        "tag": "#coronavirus",
                        "weight": 50672
                      }, {
                        "tag": "#nomeat_nocoronavirus",
                        "weight": 18041
                      }, {
                        "tag": "#wuhan",
                        "weight": 14111
                      }, {
                        "tag": "#china",
                        "weight": 11624
                      }, {
                        "tag": "#coronavirusoutbreak",
                        "weight": 5316
                      }, {
                        "tag": "#india",
                        "weight": 3734
                      }, {
                        "tag": "#coronavirusindia",
                        "weight": 2767
                      }, {
                        "tag": "#airindia",
                        "weight": 2565
                      }, {
                        "tag": "#coronaviruschina",
                        "weight": 1928
                      }];
      series.labels.template.tooltipText = "{word}:\n[bold]{value}[/]";
      series.dataFields.word = "tag";
      series.dataFields.value = "weight";
    }      
</script>

<!--March-->
<script>
  function hash_mar(){
  document.getElementById("hashtags_jan").style.display = "none";
  document.getElementById("hashtags_feb").style.display = "none";
  document.getElementById("hashtags_mar").style.display = "block";
  document.getElementById("hashtags_apr").style.display = "none";
  document.getElementById("hash_jan").classList.remove("active")
  document.getElementById("hash_feb").classList.remove("active")
  document.getElementById("hash_mar").classList.add("active")
  document.getElementById("hash_apr").classList.remove("active")
  am4core.useTheme(am4themes_animated);
  am4core.useTheme(am4themes_animated);
  var chart = am4core.create("hashtags_mar", am4plugins_wordCloud.WordCloud);
  var series = chart.series.push(new am4plugins_wordCloud.WordCloudSeries());
  series.data = [{
    "tag": "#coronavirus",
    "weight": 111548
  }, {
    "tag": "#covid19",
    "weight": 39852
  }, {
    "tag": "#coronavirusindia",
    "weight": 15896
  }, {
    "tag": "#coronaalert",
    "weight": 8234
  }, {
    "tag": "#india",
    "weight": 8232
  }, {
    "tag": "#corona",
    "weight": 7871
  }, {
    "tag": "#coronavirusoutbreak",
    "weight": 7557
  }, {
    "tag": "#coronaoutbreak",
    "weight": 7503
  }, {
    "tag": "#coronavirusupdate",
    "weight": 7082
  }, {
    "tag": "#coronavirusinindia",
    "weight": 7073
  }, {
    "tag": "#namaste",
    "weight": 6999
  }];
  series.labels.template.tooltipText = "{word}:\n[bold]{value}[/]";
  series.dataFields.word = "tag";
  series.dataFields.value = "weight";  
  }
</script>

<!--April-->
<script>
  function hash_apr(){
    document.getElementById("hashtags_jan").style.display = "none";
    document.getElementById("hashtags_feb").style.display = "none";
    document.getElementById("hashtags_mar").style.display = "none";
    document.getElementById("hashtags_apr").style.display = "block";
    document.getElementById("hash_jan").classList.remove("active")
    document.getElementById("hash_feb").classList.remove("active")
    document.getElementById("hash_mar").classList.remove("active")
    document.getElementById("hash_apr").classList.add("active")
    am4core.useTheme(am4themes_animated);
    am4core.useTheme(am4themes_animated);
    var chart = am4core.create("hashtags_apr", am4plugins_wordCloud.WordCloud);
    var series = chart.series.push(new am4plugins_wordCloud.WordCloudSeries());
    series.data = [{
      "tag": "Breaking News",
      "weight": 60
    }, {
      "tag": "Environment",
      "weight": 80
    }, {
      "tag": "Politics",
      "weight": 90
    }, {
      "tag": "Business",
      "weight": 25
    }];
    series.labels.template.tooltipText = "{word}:\n[bold]{value}[/]";
    series.dataFields.word = "tag";
    series.dataFields.value = "weight";
  }
</script>

<!--------------------------------------------------------------------------------------------------->


<!--MENTIONS-->
<!--January-->
<script>
  function ment_jan(){
    document.getElementById("mentions_jan").style.display = "block";
    document.getElementById("mentions_feb").style.display = "none";
    document.getElementById("mentions_mar").style.display = "none";
    document.getElementById("mentions_apr").style.display = "none";
    document.getElementById("ment_jan").classList.add("active")
    document.getElementById("ment_feb").classList.remove("active")
    document.getElementById("ment_mar").classList.remove("active")
    document.getElementById("ment_apr").classList.remove("active")
    am4core.useTheme(am4themes_animated);
    am4core.useTheme(am4themes_animated);
    var chart = am4core.create("mentions_jan", am4plugins_wordCloud.WordCloud);
    var series = chart.series.push(new am4plugins_wordCloud.WordCloudSeries());
    series.data = [{
      "tag": "@spectatorindex",
      "weight": 13751
    }, {
      "tag": "@ani",
      "weight": 7888
    }, {
      "tag": "@who",
      "weight": 6662
    }, {
      "tag": "@mohfw_india",
      "weight": 6193
    }, {
      "tag": "@rahulgandhi",
      "weight": 4687
    }, {
      "tag": "@pmoindia",
      "weight": 2921
    }, {
      "tag": "@pib_india",
      "weight": 2563
    }, {
      "tag": "@airindiain",
      "weight": 2432
    }, {
      "tag": "@timesofindia",
      "weight": 2191
    }, {
      "tag": "@raksharamaiah",
      "weight": 2103
    }];
    series.labels.template.tooltipText = "{word}:\n[bold]{value}[/]";
    series.dataFields.word = "tag";
    series.dataFields.value = "weight";
  }
</script>

<!--February-->
<script>  
  function ment_feb(){
      document.getElementById("mentions_jan").style.display = "none";
      document.getElementById("mentions_feb").style.display = "block";
      document.getElementById("mentions_mar").style.display = "none";
      document.getElementById("mentions_apr").style.display = "none";
      document.getElementById("ment_jan").classList.remove("active")
      document.getElementById("ment_feb").classList.add("active")
      document.getElementById("ment_mar").classList.remove("active")
      document.getElementById("ment_apr").classList.remove("active")
      am4core.useTheme(am4themes_animated);              
      am4core.useTheme(am4themes_animated);
      var chart = am4core.create("mentions_feb", am4plugins_wordCloud.WordCloud);
      var series = chart.series.push(new am4plugins_wordCloud.WordCloudSeries());

      series.data = [{
                        "tag": "@askanshul",
                        "weight": 6306
                      }, {
                        "tag": "@ani",
                        "weight": 5621
                      }, {
                        "tag": "@narendramodi",
                        "weight": 5007
                      }, {
                        "tag": "@majorgauravarya",
                        "weight": 4038
                      }, {
                        "tag": "@drsjaishankar",
                        "weight": 4018
                      }, {
                        "tag": "@majorpoonia",
                        "weight": 3692
                      }, {
                        "tag": "@shefvaidya",
                        "weight": 3493
                      }, {
                        "tag": "@imrankhanpti",
                        "weight": 3332
                      }, {
                        "tag": "@sneheshphilip",
                        "weight": 3324
                      }, {
                        "tag": "@ashoswai",
                        "weight": 3315
                      }, {
                        "tag": "@who",
                        "weight": 3189
                      }];
      series.labels.template.tooltipText = "{word}:\n[bold]{value}[/]";
      series.dataFields.word = "tag";
      series.dataFields.value = "weight";
    }      
</script>

<!--March-->
<script>
  function ment_mar(){
  document.getElementById("mentions_jan").style.display = "none";
  document.getElementById("mentions_feb").style.display = "none";
  document.getElementById("mentions_mar").style.display = "block";
  document.getElementById("mentions_apr").style.display = "none";
  document.getElementById("ment_jan").classList.remove("active")
  document.getElementById("ment_feb").classList.remove("active")
  document.getElementById("ment_mar").classList.add("active")
  document.getElementById("ment_apr").classList.remove("active")
  am4core.useTheme(am4themes_animated);
  am4core.useTheme(am4themes_animated);
  var chart = am4core.create("mentions_mar", am4plugins_wordCloud.WordCloud);
  var series = chart.series.push(new am4plugins_wordCloud.WordCloudSeries());
  series.data = [{
    "tag": "@narendramodi",
    "weight": 39786
  }, {
    "tag": "@rahulgandhi",
    "weight": 15796
  }, {
    "tag": "@pmoindia",
    "weight": 14960
  }, {
    "tag": "@amitshah",
    "weight": 12109
  }, {
    "tag": "@ipspankajnain",
    "weight": 11981
  }, {
    "tag": "@ani",
    "weight": 8872
  }, {
    "tag": "@realdonaldtrump",
    "weight": 7445
  }, {
    "tag": "@netanyahu",
    "weight": 6423
  }, {
    "tag": "@mohfw_india",
    "weight": 6041
  }, {
    "tag": "@spectator_index",
    "weight": 5940
  }];
  series.labels.template.tooltipText = "{word}:\n[bold]{value}[/]";
  series.dataFields.word = "tag";
  series.dataFields.value = "weight";  
  }
</script>

<!--April-->
<script>
  function ment_apr(){
    document.getElementById("mentions_jan").style.display = "none";
    document.getElementById("mentions_feb").style.display = "none";
    document.getElementById("mentions_mar").style.display = "none";
    document.getElementById("mentions_apr").style.display = "block";
    document.getElementById("ment_jan").classList.remove("active")
    document.getElementById("ment_feb").classList.remove("active")
    document.getElementById("ment_mar").classList.remove("active")
    document.getElementById("ment_apr").classList.add("active")
    am4core.useTheme(am4themes_animated);
    am4core.useTheme(am4themes_animated);
    var chart = am4core.create("mentions_apr", am4plugins_wordCloud.WordCloud);
    var series = chart.series.push(new am4plugins_wordCloud.WordCloudSeries());
    series.data = [{
      "tag": "Breaking News",
      "weight": 60
    }, {
      "tag": "Environment",
      "weight": 80
    }, {
      "tag": "Politics",
      "weight": 90
    }, {
      "tag": "Business",
      "weight": 25
    }];
    series.labels.template.tooltipText = "{word}:\n[bold]{value}[/]";
    series.dataFields.word = "tag";
    series.dataFields.value = "weight";
  }
</script>


<!------------------------------------------------------------------------------------------------------------------>

<!--LOCATIONS-->
<!--January-->
<script>
  function loc_jan(){
    document.getElementById("locations_jan").style.display = "block";
    document.getElementById("locations_feb").style.display = "none";
    document.getElementById("locations_mar").style.display = "none";
    document.getElementById("locations_apr").style.display = "none";
    document.getElementById("loc_jan").classList.add("active")
    document.getElementById("loc_feb").classList.remove("active")
    document.getElementById("loc_mar").classList.remove("active")
    document.getElementById("loc_apr").classList.remove("active")
    am4core.useTheme(am4themes_animated);
    am4core.useTheme(am4themes_animated);
    var chart = am4core.create("locations_jan", am4plugins_wordCloud.WordCloud);
    var series = chart.series.push(new am4plugins_wordCloud.WordCloudSeries());
    series.data = [{
      "tag": "Delhi",
      "weight": 19350
    }, {
      "tag": "Mumbai",
      "weight": 12568
    }, {
      "tag": "Bengaluru",
      "weight": 8753
    }, {
      "tag": "Chennai",
      "weight": 5874
    }, {
      "tag": "Hyderabad",
      "weight": 5470
    }, {
      "tag": "Pune",
      "weight": 2707
    }];
    series.labels.template.tooltipText = "{word}:\n[bold]{value}[/]";
    series.dataFields.word = "tag";
    series.dataFields.value = "weight";
  }
</script>

<!--February-->
<script>
  function loc_feb(){
    document.getElementById("locations_jan").style.display = "none";
    document.getElementById("locations_feb").style.display = "block";
    document.getElementById("locations_mar").style.display = "none";
    document.getElementById("locations_apr").style.display = "none";
    document.getElementById("loc_jan").classList.remove("active")
    document.getElementById("loc_feb").classList.add("active")
    document.getElementById("loc_mar").classList.remove("active")
    document.getElementById("loc_apr").classList.remove("active")
    am4core.useTheme(am4themes_animated);
    am4core.useTheme(am4themes_animated);
    var chart = am4core.create("locations_feb", am4plugins_wordCloud.WordCloud);
    var series = chart.series.push(new am4plugins_wordCloud.WordCloudSeries());
    series.data = [{
      "tag": "Delhi",
      "weight": 22441
    }, {
      "tag": "Mumbai",
      "weight": 13479
    }, {
      "tag": "Bengaluru",
      "weight": 10293
    }, {
      "tag": "Chennai",
      "weight": 5220
    }, {
      "tag": "Hyderabad",
      "weight": 5851
    }, {
      "tag": "Pune",
      "weight": 3495
    }];
    series.labels.template.tooltipText = "{word}:\n[bold]{value}[/]";
    series.dataFields.word = "tag";
    series.dataFields.value = "weight";
  }
</script>

<!--March-->
<script>
  function loc_mar(){
    document.getElementById("locations_jan").style.display = "none";
    document.getElementById("locations_feb").style.display = "none";
    document.getElementById("locations_mar").style.display = "block";
    document.getElementById("locations_apr").style.display = "none";
    document.getElementById("loc_jan").classList.remove("active")
    document.getElementById("loc_feb").classList.remove("active")
    document.getElementById("loc_mar").classList.add("active")
    document.getElementById("loc_apr").classList.remove("active")
    am4core.useTheme(am4themes_animated);
    am4core.useTheme(am4themes_animated);
    var chart = am4core.create("locations_mar", am4plugins_wordCloud.WordCloud);
    var series = chart.series.push(new am4plugins_wordCloud.WordCloudSeries());
    series.data = [{
      "tag": "Delhi",
      "weight": 43477
    }, {
      "tag": "Mumbai",
      "weight": 28550
    }, {
      "tag": "Bengaluru",
      "weight": 20904
    }, {
      "tag": "Chennai",
      "weight": 9588
    }, {
      "tag": "Hyderabad",
      "weight": 15466
    }, {
      "tag": "Pune",
      "weight": 7137
    }];
    series.labels.template.tooltipText = "{word}:\n[bold]{value}[/]";
    series.dataFields.word = "tag";
    series.dataFields.value = "weight";
  }
</script>

<!--April-->
<script>
  function loc_apr(){
    document.getElementById("locations_jan").style.display = "none";
    document.getElementById("locations_feb").style.display = "none";
    document.getElementById("locations_mar").style.display = "none";
    document.getElementById("locations_apr").style.display = "block";
    document.getElementById("loc_jan").classList.remove("active")
    document.getElementById("loc_feb").classList.remove("active")
    document.getElementById("loc_mar").classList.remove("active")
    document.getElementById("loc_apr").classList.add("active")
    am4core.useTheme(am4themes_animated);
    am4core.useTheme(am4themes_animated);
    var chart = am4core.create("locations_apr", am4plugins_wordCloud.WordCloud);
    var series = chart.series.push(new am4plugins_wordCloud.WordCloudSeries());
    series.data = [{
      "tag": "Delhi",
      "weight": 19350
    }, {
      "tag": "Mumbai",
      "weight": 12568
    }, {
      "tag": "Bengaluru",
      "weight": 8753
    }, {
      "tag": "Chennai",
      "weight": 5874
    }, {
      "tag": "Hyderabad",
      "weight": 5470
    }, {
      "tag": "Pune",
      "weight": 2707
    }];
    series.labels.template.tooltipText = "{word}:\n[bold]{value}[/]";
    series.dataFields.word = "tag";
    series.dataFields.value = "weight";
  }
</script>


<!------------------------------------------------------------------------------------------------------------------>

<!--Domains-->
<!--January-->
<script>
  function domain_jan(){
    document.getElementById("domains_jan").style.display = "block";
    document.getElementById("domains_feb").style.display = "none";
    document.getElementById("domains_mar").style.display = "none";
    document.getElementById("domains_apr").style.display = "none";
    document.getElementById("dom_jan").classList.add("active")
    document.getElementById("dom_feb").classList.remove("active")
    document.getElementById("dom_mar").classList.remove("active")
    document.getElementById("dom_apr").classList.remove("active")
    am4core.useTheme(am4themes_animated);
    am4core.useTheme(am4themes_animated);
    var chart = am4core.create("domains_jan", am4plugins_wordCloud.WordCloud);
    var series = chart.series.push(new am4plugins_wordCloud.WordCloudSeries());
    series.data = [{
      "tag": "toi",
      "weight": 1924
    }, {
      "tag": "cnn",
      "weight": 1886
    }, {
      "tag": "youtube",
      "weight": 1791
    }, {
      "tag": "dlvr.it",
      "weight": 1783
    }, {
      "tag": "reuters",
      "weight": 1448
    }, {
      "tag": "ndtv",
      "weight": 1195
    }, {
      "tag": "indiatimes",
      "weight": 1166
    }];
    series.labels.template.tooltipText = "{word}:\n[bold]{value}[/]";
    series.dataFields.word = "tag";
    series.dataFields.value = "weight";
  }
</script>

<!--February-->
<script>
  function domain_feb(){
    document.getElementById("domains_jan").style.display = "none";
    document.getElementById("domains_feb").style.display = "block";
    document.getElementById("domains_mar").style.display = "none";
    document.getElementById("domains_apr").style.display = "none";
    document.getElementById("dom_jan").classList.remove("active")
    document.getElementById("dom_feb").classList.add("active")
    document.getElementById("dom_mar").classList.remove("active")
    document.getElementById("dom_apr").classList.remove("active")
    am4core.useTheme(am4themes_animated);
    am4core.useTheme(am4themes_animated);
    var chart = am4core.create("domains_feb", am4plugins_wordCloud.WordCloud);
    var series = chart.series.push(new am4plugins_wordCloud.WordCloudSeries());
    series.data = [{
      "tag": "toi",
      "weight": 1744
    }, {
      "tag": "youtube",
      "weight": 1455
    }, {
      "tag": "dlvr.it",
      "weight": 1620
    }, {
      "tag": "ndtv",
      "weight": 1195
    }, {
      "tag": "indiatimes",
      "weight": 1349
    }, {
      "tag": "hindustantimes",
      "weight": 1119
    }];
    series.labels.template.tooltipText = "{word}:\n[bold]{value}[/]";
    series.dataFields.word = "tag";
    series.dataFields.value = "weight";
  }
</script>

<!--March-->
<script>
  function domain_mar(){
    document.getElementById("domains_jan").style.display = "none";
    document.getElementById("domains_feb").style.display = "none";
    document.getElementById("domains_mar").style.display = "block";
    document.getElementById("domains_apr").style.display = "none";
    document.getElementById("dom_jan").classList.remove("active")
    document.getElementById("dom_feb").classList.remove("active")
    document.getElementById("dom_mar").classList.add("active")
    document.getElementById("dom_apr").classList.remove("active")
    am4core.useTheme(am4themes_animated);
    am4core.useTheme(am4themes_animated);
    var chart = am4core.create("domains_mar", am4plugins_wordCloud.WordCloud);
    var series = chart.series.push(new am4plugins_wordCloud.WordCloudSeries());
    series.data = [{
      "tag": "toi",
      "weight": 2823
    }, {
      "tag": "hindustantimes",
      "weight": 2351
    }, {
      "tag": "youtube",
      "weight": 2060
    }, {
      "tag": "dlvr.it",
      "weight": 1747
    }, {
      "tag": "indiatimes",
      "weight": 1712
    }, {
      "tag": "indiatoday",
      "weight": 1610
    }, {
      "tag": "ndtv",
      "weight": 1557
    }, {
      "tag": "bbc",
      "weight": 1484
    }];
    series.labels.template.tooltipText = "{word}:\n[bold]{value}[/]";
    series.dataFields.word = "tag";
    series.dataFields.value = "weight";
  }
</script>

<!--April-->
<script>
  function domain_apr(){
    document.getElementById("domains_jan").style.display = "none";
    document.getElementById("domains_feb").style.display = "none";
    document.getElementById("domains_mar").style.display = "none";
    document.getElementById("domains_apr").style.display = "block";
    document.getElementById("dom_jan").classList.remove("active")
    document.getElementById("dom_feb").classList.remove("active")
    document.getElementById("dom_mar").classList.remove("active")
    document.getElementById("dom_apr").classList.add("active")
    am4core.useTheme(am4themes_animated);
    am4core.useTheme(am4themes_animated);
    var chart = am4core.create("domains_apr", am4plugins_wordCloud.WordCloud);
    var series = chart.series.push(new am4plugins_wordCloud.WordCloudSeries());
    series.data = [{
      "tag": "toi",
      "weight": 1924
    }, {
      "tag": "cnn",
      "weight": 1886
    }, {
      "tag": "youtube",
      "weight": 1791
    }, {
      "tag": "dlvr.it",
      "weight": 1783
    }, {
      "tag": "reuters",
      "weight": 1448
    }, {
      "tag": "ndtv",
      "weight": 1195
    }, {
      "tag": "indiatimes",
      "weight": 1166
    }];
    series.labels.template.tooltipText = "{word}:\n[bold]{value}[/]";
    series.dataFields.word = "tag";
    series.dataFields.value = "weight";
  }
</script>

<!------------------------------------------------------------------------------------------------------------------>
<!--TIMELINE GRAPH-->
<script>
  am4core.ready(function() {
  am4core.useTheme(am4themes_animated);
  var chart = am4core.create("chartdiv", am4charts.XYChart);
  chart.data = [
{"date": "2020-1-21",
"value":3},
{"date": "2020-1-22",
"value":505},
{"date": "2020-1-23",
"value":5173},
{"date": "2020-1-24",
"value":16214},
{"date": "2020-1-25",
"value":24903},
{"date": "2020-1-26",
"value":25583},
{"date": "2020-1-27",
"value":25041},
{"date": "2020-1-28",
"value":31696},
{"date": "2020-1-29",
"value":48064},
{"date": "2020-1-30",
"value":70818},
{"date": "2020-1-31",
"value":21246},
{"date": "2020-2-01",
"value":38189},
{"date": "2020-2-02",
"value":65190},
{"date": "2020-2-03",
"value":35300},
{"date": "2020-2-04",
"value":34733},
{"date": "2020-2-05",
"value":22416},
{"date": "2020-2-06",
"value":28331},
{"date": "2020-2-07",
"value":29148},
{"date": "2020-2-08",
"value":25317},
{"date": "2020-2-09",
"value":23241},
{"date": "2020-2-10",
"value":25753},
{"date": "2020-2-11",
"value":25129},
{"date": "2020-3-01",
"value":67106},
{"date": "2020-3-02",
"value":14201},
{"date": "2020-3-03",
"value":125281},
{"date": "2020-3-04",
"value":215537},
{"date": "2020-3-05",
"value":35070},
{"date": "2020-3-06",
"value":28357},
{"date": "2020-3-07",
"value":23741},
{"date": "2020-3-08",
"value":18398},
{"date": "2020-3-09",
"value":20474},
{"date": "2020-3-10",
"value":15432},
{"date": "2020-3-11",
"value":17667},
{"date": "2020-3-12",
"value":19146},
{"date": "2020-3-13",
"value":20928},
{"date": "2020-3-14",
"value":21384},
{"date": "2020-3-15",
"value":22693},
{"date": "2020-3-16",
"value":20603},
{"date": "2020-3-17",
"value":132},
{"date": "2020-4-01",
"value":54936},
{"date": "2020-4-02",
"value":51681},
{"date": "2020-4-03",
"value":55005},
{"date": "2020-4-04",
"value":57570},
{"date": "2020-4-05",
"value":62040},
{"date": "2020-4-06",
"value":64545},
{"date": "2020-4-07",
"value":64773},
{"date": "2020-4-08",
"value":55927},
{"date": "2020-4-09",
"value":57827},
{"date": "2020-4-10",
"value":56660},
{"date": "2020-4-11",
"value":61164},
{"date": "2020-4-12",
"value":51319},
{"date": "2020-4-13",
"value":49949},
{"date": "2020-4-14",
"value":61985},
{"date": "2020-4-15",
"value":48930},
{"date": "2020-4-16",
"value":53987},
{"date": "2020-4-17",
"value":43369},
{"date": "2020-4-18",
"value":50079},
{"date": "2020-4-19",
"value":56022},
{"date": "2020-4-19",
"value":56022},
{"date": "2020-4-20",
"value":47961},
{"date": "2020-4-21",
"value":51946},
{"date": "2020-4-22",
"value":57642},
{"date": "2020-4-23",
"value":21112}];
  chart.dateFormatter.inputDateFormat = "yyyy-MM-dd";
  var dateAxis = chart.xAxes.push(new am4charts.DateAxis());
  var valueAxis = chart.yAxes.push(new am4charts.ValueAxis());
  var series = chart.series.push(new am4charts.LineSeries());
  series.dataFields.valueY = "value";
  series.dataFields.dateX = "date";
  series.tooltipText = "{value}"
  series.strokeWidth = 2;
  series.minBulletDistance = 15;
  series.tooltip.background.cornerRadius = 20;
  series.tooltip.background.strokeOpacity = 0;
  series.tooltip.pointerOrientation = "vertical";
  series.tooltip.label.minWidth = 40;
  series.tooltip.label.minHeight = 40;
  series.tooltip.label.textAlign = "middle";
  series.tooltip.label.textValign = "middle";
  var bullet = series.bullets.push(new am4charts.CircleBullet());
  bullet.circle.strokeWidth = 2;
  bullet.circle.radius = 4;
  bullet.circle.fill = am4core.color("#fff");
  var bullethover = bullet.states.create("hover");
  bullethover.properties.scale = 1.3;
  chart.cursor = new am4charts.XYCursor();
  chart.cursor.behavior = "panXY";
  chart.cursor.xAxis = dateAxis;
  chart.cursor.snapToSeries = series;
  chart.scrollbarY = new am4core.Scrollbar();
  chart.scrollbarY.parent = chart.leftAxesContainer;
  chart.scrollbarY.toBack();
  chart.scrollbarX = new am4charts.XYChartScrollbar();
  chart.scrollbarX.series.push(series);
  chart.scrollbarX.parent = chart.bottomAxesContainer;
  dateAxis.start = 0.79;
  dateAxis.keepSelection = true;
  }); // end am4core.ready()
  </script>