<!DOCTYPE html> 
<html>
    {% include 'head.html' %}
<head>
  <meta charset="UTF-8">
<link rel="stylesheet" href="static/w3.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.3.0/css/font-awesome.min.css">
</head>

<!--------------------------------------------------------------------------------------------------->

<body>
  {% include 'navbar.html' %}
<style>
  .cloud{
    border-radius: 10px;
    background-color: #ffdebb;
    box-shadow: 10px 10px 10px 0px rgb(199, 176, 176);
  }

  .w3-button{
    border-radius: 7px;
    background-color: #000;
    color: white;
  }
  .btn{
    background-color: #a8bbf5;
    border-top: solid 2px black; border-bottom: black solid 2px;
  }
  .active{
    background-color:rgb(175, 170, 170);
    color: black;
  }
</style>

<section class="row" style="margin-bottom: 110px; background-color: rgb(202, 200, 200); border-bottom: black solid;">
    <div class="col-12 col-sm-5" style="margin-top: 80px; color: white;">
        <lottie-player src="static\twitter-notification.json" background="transparent" speed="0.8"  style="width: 300px; height: 300px;margin-left: auto;margin-right: auto;" loop  autoplay></lottie-player>
    </div>
    <div class="w3-margin-top col-12 col-sm-6" style="text-align: center;">
      <h1 style="margin-left: 0px; margin-top: 80px;font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; color: #1DA1F2; font-size: 6rem;text-shadow:3px 3px rgb(92, 92, 92);">Social Media Discussions</h1>
      <h3 style="font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; font-style:italic ;margin-bottom: 100px; word-spacing: 5px; letter-spacing: 1px;">Corona stories from 227 Million Tweets</h3>
    </div>
</section>
<!--------------------------------------------------------------------------------------------------->

<section>
  <div class="w3-card btn" style="width: 100%; margin-bottom: 50px;">
    <h2>Twitter Activity Timeline</h2>
  </div>
  <div id="chartdiv" style="height: 500px;"></div>
</section>

<!--------------------------------------------------------------------------------------------------->

<div class="w3-row-padding w3-center w3-margin-top">
  <div class="w3-half">  
    <div class="w3-card btn" style="margin-top: 100px;">
      <h2>Top Hashtags Every Month</h2>
    </div>
    <div class="w3-row-padding"style = "margin-top: 70px">
      <button class="w3-button" id="hash_jan" onclick="hash_jan()">Jan</button>
      <button class="w3-button" id="hash_feb" onclick="hash_feb()">Feb</button>
      <button class="w3-button" id="hash_mar" onclick="hash_mar()">Mar</button>
			<button class="w3-button" id="hash_apr" onclick="hash_apr()">Apr</button>
			<button class="w3-button" id="hash_may" onclick="hash_may()">May</button>
    </div>
  </div>
  <div class="w3-half">
    <div class=" w3-container w3-card cloud" id="hashtags" style="min-height:460px"></div>
  </div>
</div>

<!--------------------------------------------------------------------------------------------------->

<div class="w3-row-padding w3-center w3-margin-top">
  <div class="w3-half w3-right">  
    <div class="w3-card btn" style="margin-top: 100px;">
      <h2>Top Mentions Every Month</h2>
    </div>
    <div class="w3-row-padding"style = "margin-top: 70px">
      <button class="w3-button w3-theme" id="ment_jan" onclick="ment_jan()">Jan</button>
      <button class="w3-button w3-theme" id="ment_feb" onclick="ment_feb()">Feb</button>
      <button class="w3-button w3-theme" id="ment_mar" onclick="ment_mar()">Mar</button>
			<button class="w3-button w3-theme" id="ment_apr" onclick="ment_apr()">Apr</button>
			<button class="w3-button w3-theme" id="ment_may" onclick="ment_may()">May</button>
    </div>
  </div>
  <div class="w3-half">
    <div class="w3-card w3-container cloud" id="mentions" style="min-height:460px"></div>
  </div>
</div>

<!--------------------------------------------------------------------------------------------------->

<div class="w3-row-padding w3-center w3-margin-top">
  <div class="w3-half">  
    <div class="w3-card btn" style="margin-top: 200px;">
      <h2>Top Locations Every Month</h2>
    </div>
    <div class="w3-row-padding"style = "margin-top: 70px">
      <button class="w3-button w3-theme" id="loc_jan" onclick="loc_jan()">Jan</button>
      <button class="w3-button w3-theme" id="loc_feb" onclick="loc_feb()">Feb</button>
      <button class="w3-button w3-theme" id="loc_mar" onclick="loc_mar()">Mar</button>
			<button class="w3-button w3-theme" id="loc_apr" onclick="loc_apr()">Apr</button>
			<button class="w3-button w3-theme" id="loc_may" onclick="loc_may()">May</button>
    </div>
  </div>
  <div class="w3-half">
    <div class="w3-card w3-container cloud" id="locations" style="min-height:460px; height: 600px; width: 600px;"></div>
  </div>
</div> 

<!--------------------------------------------------------------------------------------------------->

<div class="w3-row-padding w3-center w3-margin-top">
  <div class="w3-half w3-right">  
    <div class="w3-card btn" style="margin-top: 100px;">
      <h2>Top Domains Every Month</h2>
    </div>
    <div class="w3-row-padding"style = "margin-top: 70px">
      <button class="w3-button w3-theme" id="dom_jan" onclick="domain_jan()">Jan</button>
      <button class="w3-button w3-theme" id="dom_feb" onclick="domain_feb()">Feb</button>
      <button class="w3-button w3-theme" id="dom_mar" onclick="domain_mar()">Mar</button>
			<button class="w3-button w3-theme" id="dom_apr" onclick="domain_apr()">Apr</button>
			<button class="w3-button w3-theme" id="dom_may" onclick="domain_may()">May</button>
    </div>
  </div>
  <div class="w3-half">
    <div class="w3-card w3-container cloud" id="domains" style="min-height:460px;"></div>
  </div>
</div>

<div class="w3-card btn" style="width: 100%; margin-top: 50px;margin-bottom: 30px;">
	<h2>Temporal Topical Distribution</h2>
</div>
<div class="w3-row-padding w3-center">
	<button class="w3-button w3-theme" id="LDA_jan" onclick="LDA_jan()">Jan</button>
	<button class="w3-button w3-theme" id="LDA_feb" onclick="LDA_feb()">Feb</button>
	<button class="w3-button w3-theme" id="LDA_mar" onclick="LDA_mar()">Mar</button>
	<button class="w3-button w3-theme" id="LDA_apr" onclick="LDA_apr()">Apr</button>
	<button class="w3-button w3-theme" id="LDA_may" onclick="LDA_may()">May</button>
</div>
<div class="w3-row-padding w3-center w3-margin-top w3-half">
  <div class="w3-card btn" style="width: 100%;"><h3>Topic Frequency</h3></div>  
  <div class="w3-card w3-container cloud" id="LDA" style="min-height:460px;"></div>
</div>
<div class="w3-row-padding w3-center w3-margin-top w3-half">
  <div id="info" class="w3-card btn" style="width: 100%;"><h3>Token Probability</h3></div>  
  <div class="w3-card w3-container cloud" id="LDA_cloud" style="min-height:460px; z-index: -1;">
  </div>
</div>

</body>

</html>

<!--------------------------------------------------------------------------------------------------->
<script src="static\lottie-player.js"></script>
<script src="https://www.amcharts.com/lib/4/core.js"></script>
<script src="https://www.amcharts.com/lib/4/charts.js"></script>
<script src="https://www.amcharts.com/lib/4/plugins/wordCloud.js"></script>
<script src="https://www.amcharts.com/lib/4/themes/animated.js"></script>
<script src="https://www.amcharts.com/lib/4/maps.js"></script>
<script src="https://www.amcharts.com/lib/4/geodata/indiaLow.js"></script>
<!--------------------------------------------------------------------------------------------------->

<!-- DEFAULTS -->

<script>
  am4core.ready(function(){
    hash_jan();
    ment_jan();
    loc_jan();
    domain_jan();
    LDA_jan();
    LDA_cloud("jan","0");
  })
</script>

<!--HASHTAGS-->
<script type="text/javascript" src="{{ url_for('static',filename='hashtags.js') }}"></script>

<!--MENTIONS-->
<script type="text/javascript" src="{{ url_for('static',filename='social_mentions.js') }}"></script>

<!--LOCATIONS-->
<script type="text/javascript" src="{{ url_for('static',filename='locations.js') }}"></script>

<!--DOMAINS-->
<script type="text/javascript" src="{{ url_for('static',filename='domains.js') }}"></script>

<!--TIMELINE GRAPH-->
<script type="text/javascript" src="{{ url_for('static',filename='social_timeline.js') }}"></script>

<!--LDA PIE-->
<script type="text/javascript" src="{{ url_for('static',filename='LDA_pie.js') }}"></script>

<!--LDA CLOUD-->
<script type="text/javascript" src="{{ url_for('static',filename='LDA_clouds.js') }}"></script>