<html>
    
    {% include 'head.html' %}


    <body>

        {% include 'navbar.html' %}

    <section>
            <div class="container-fluid">
                <div class="row">

                    <div class="col-lg-10 author-info offset-lg-1">
                        <h2 style="margin-left: 0px; margin-top: 50px; text-align: center">The Team</h2>

                    </div>
                </div>
            </div>
        </section>
    <section>
        <div class="container">

            <div class="row" style="padding-top: 30px;">
                <div class="col-md-12" style="text-align: center">
                    <img src="/static/images/mayank.jpg" alt="About" style="width: 100px; height: 100px; border-radius: 50%;">
                    <p style="font-size: 20px; padding-top: 5px"> Prof. Mayank Singh<br><a href ="mailto:singh.mayank@iitgn.ac.in" style="font-size: 15px">singh.mayank@iitgn.ac.in </a> </p>
                </div>
            </div>
            
            <div class="row" style="padding-top: 20px">
            	<!-- <div style="padding: 75px"> -->
		      <div class="col-md-6" style="text-align: center">
		        <img src="/static/images/heer.jpg" alt="About" style="width: 100px; height: 100px; border-radius: 50%;">
		        <p style="font-size: 20px; padding-top: 5px"> Heer Ambavi<br><a href ="mailto:heer.ambavi@iitgn.ac.in" style="font-size: 15px">heer.ambavi@iitgn.ac.in </a> </p>
              </div>

		      <div class="col-md-6" style="text-align: center">
			    <img src="/static/images/kavita.jpg" alt="About" style="width: 100px; height: 100px; border-radius: 50%;">
			<p style="font-size: 20px; padding-top: 5px"> Kavita Vaishnaw<br><a href ="mailto:kavita.vaishnaw@iitgn.ac.in" style="font-size: 15px">kavita.vaishnaw@iitgn.ac.in </a> </p>
			  </div>

      		</div>

      		<div class="row" style="padding-top: 20px">
            	<!-- <div style="padding: 75px"> -->
		      <!-- <div class="col-md-3 offset-lg-1" style="text-align: center"> -->
		      	<div class="col-md-6" style="text-align: center">
		       <img src="/static/images/abhisht.jpg" alt="About" style="width: 100px; height: 100px; border-radius: 50%;">
		    <p style="font-size: 20px; padding-top: 5px"> Abhisht Tiwari<br><a href ="mailto:abhisht.tiwari@iitgn.ac.in" style="font-size: 15px">abhisht.tiwari@iitgn.ac.in </a> </p>
		      </div>

		      <!-- <div class="col-md-3 offset-lg-1" style="text-align: center"> -->
		      	<div class="col-md-6" style="text-align: center">
			    <!--<img src="/static/images/utpal.jpg" alt="About" style="width: 100px; height: 100px; border-radius: 50%;">
			<p style="font-size: 20px; padding-top: 5px"> Utpal Podder<br><a href ="mailto:podder_utpal@iitgn.ac.in" style="font-size: 15px">podder_utpal@iitgn.ac.in</a> </p>
			  </div>
            </div>

            <div class="row" style="padding-bottom: 20px">

                <div class="col-md-4 offset-md-4" style="text-align: center; padding-top: 20px">-->
			    <img src="/static/images/udit1.jpg" alt="About" style="width: 100px; height: 100px; border-radius: 50%;">
				<p style="font-size: 20px; padding-top: 5px"> Udit Vyas <br><a href ="mailto:udit.18110176@iitgn.ac.in" style="font-size: 15px">udit.18110176@iitgn.ac.in</a> </p>
			  </div>
            </div>

        </div>  
    </section>
    {% include 'footerbar.html' %}
    </body>
</html>