<html>
    
    {% include 'head.html' %}


    <body>

        {% include 'navbar.html' %}
    
    <section class="search-sec" id="main">
            <div class="container" style="text-align:center;padding:100px; color: white;">
                <h1 style="font-size: 70px">NLPExplorer</h1>
                <h1 style="font-size: 96px">Team</h1>
            </div>
        
    </section>


    <section style="margin-top: 40px;">
        
    </section>

    <section>
        <div class="container">
            <div class="row">
                <div class="col-lg-4 offset-lg-4" style="text-align: center">
                    <h2>Development Team</h2>
                </div>
            </div>

            <div class="row" style="padding-top: 30px">
            	<!-- <div style="padding: 75px"> -->
		      <div class="col-md-4" style="text-align: center">
		        <img src="/static/images/monarch.jpg" alt="About" style="width: 100px; height: 100px; border-radius: 50%;">
		    <p style="font-size: 20px; padding-top: 5px"> Monarch Parmar<br><a href ="mailto:parmar.monarch@iitgn.ac.in" style="font-size: 15px">parmar.monarch@iitgn.ac.in </a> </p>
            <!-- <p style="font-size: 18px; padding-top: -15px"><a href ="mailto:monarch.parmar@iitgn.ac.in">monarch.parmar@iitgn.ac.in </a></p> -->
		      </div>

		      <div class="col-md-4" style="text-align: center">
			    <!-- <img src="images/pratik.jpg" class="img-responsive wow fadeInUp animated" alt="About" style="border-radius: 50%; display: inline-block; vertical-align: middle; position: relative; text-align: center; visibility: visible; animation-name: fadeInUp;"> -->
			    <img src="/static/images/naman.jpg" alt="About" style="width: 100px; height: 100px; border-radius: 50%;">
			<p style="font-size: 20px; padding-top: 5px"> Naman Jain<br><a href ="mailto:naman.j@iitgn.ac.in" style="font-size: 15px">naman.j@iitgn.ac.in </a> </p>
			  </div>

		      <div class="col-md-4" style="text-align: center">
			    <!-- <img src="images/pranjali.jpg" class="img-responsive wow fadeInUp animated" alt="About" style="border-radius: 50%; display: inline-block; vertical-align: middle; position: relative; text-align: center; visibility: visible; animation-name: fadeInUp;"> -->
			    <img src="/static/images/pranjali.jpg" alt="About" style="width: 100px; height: 100px; border-radius: 50%;">
			<p style="font-size: 20px; padding-top: 5px"> Pranjali Jain<br><a href ="mailto:pranjali.jain@iitgn.ac.in" style="font-size: 15px">pranjali.jain@iitgn.ac.in </a> </p>
			  </div>
      		</div>

      		<div class="row" style="padding-top: 20px">
            	<!-- <div style="padding: 75px"> -->
		      <!-- <div class="col-md-3 offset-lg-1" style="text-align: center"> -->
		      	<div class="col-md-4" style="text-align: center">
		        <!-- <img src="images/naman.jpg" class="img-responsive wow fadeInUp animated" alt="About" style="border-radius: 50%; display: inline-block; vertical-align: middle; position: relative; text-align: center; visibility: visible; animation-name: fadeInUp;"> -->
		        <img src="/static/images/sahit.jpg" alt="About" style="width: 100px; height: 100px; border-radius: 50%;">
		    <p style="font-size: 20px; padding-top: 5px"> Sahit PJ<br><a href ="mailto:jayakrishna.sahit@iitgn.ac.in" style="font-size: 15px">jayakrishna.sahit@iitgn.ac.in </a> </p>
		      </div>

		      <!-- <div class="col-md-3 offset-lg-1" style="text-align: center"> -->
		      	<div class="col-md-4" style="text-align: center">
			    <!-- <img src="images/pratik.jpg" class="img-responsive wow fadeInUp animated" alt="About" style="border-radius: 50%; display: inline-block; vertical-align: middle; position: relative; text-align: center; visibility: visible; animation-name: fadeInUp;"> -->
			    <img src="/static/images/soham.jpg" alt="About" style="width: 100px; height: 100px; border-radius: 50%;">
			<p style="font-size: 20px; padding-top: 5px"> Soham Pachpande<br><a href ="mailto:pachpande.soham@iitgn.ac.in" style="font-size: 15px">pachpande.soham@iitgn.ac.in</a> </p> 
			  </div>

			  <div class="col-md-4" style="text-align: center">
			    <!-- <img src="images/pratik.jpg" class="img-responsive wow fadeInUp animated" alt="About" style="border-radius: 50%; display: inline-block; vertical-align: middle; position: relative; text-align: center; visibility: visible; animation-name: fadeInUp;"> -->
			    <img src="/static/images/shruti.jpg" alt="About" style="width: 100px; height: 100px; border-radius: 50%;">
			<p style="font-size: 20px; padding-top: 5px"> Shruti Singh<br><a href ="mailto:singh_shruti@iitgn.ac.in" style="font-size: 15px">singh_shruti@iitgn.ac.in</a> </p>
			  </div>

		      <!-- <div class="col-md-3 offset-lg-1" style="text-align: center"> -->
		      <!-- 	<div class="col-md-4" style="text-align: center">
			    
			<p style="font-size: 20px"> Shruti Singh</p>
			  </div>
 -->      		</div>

      	</div>

		    
		<!-- </div>
                <!-- <div class="col-lg-2" style="text-align: center">
                    <div class="card">
                        <div class="card-body" style="height: 80px">
                            Naman Jain
                        </div>
                    </div>
                </div>
                <div class="col-lg-2" style="text-align: center">
                    <div class="card">
                        <div class="card-body" style="height: 80px">
                            Soham Pachpande
                        </div>
                    </div>
                </div>
                <div class="col-lg-2" style="text-align: center">
                    <div class="card">
                        <div class="card-body" style="height: 80px">
                            Sahit PJ
                        </div>
                    </div>
                </div>
                <div class="col-lg-2" style="text-align: center">
                    <div class="card">
                        <div class="card-body" style="height: 80px">
                            Pranjali Jain
                        </div>
                    </div>
                </div>
                <div class="col-lg-2" style="text-align: center">
                    <div class="card">
                        <div class="card-body" style="height: 80px">
                            Monarch Parmar
                        </div>
                    </div>
                </div>
                <div class="col-lg-2" style="text-align: center">
                    <div class="card">
                        <div class="card-body" style="height: 80px">
                            Shruti Singh
                        </div>
                    </div>
                </div> -->
            <!-- </div> -->
            <br>
<!--             <h2>PhD Scholar</h2>
            <br>
            <div class="row">
                <div class="col-lg-2 offset-lg-5" style="text-align: center">
                    <div class="card">
                        <div class="card-body" style="height: 80px">
                            Shruti Singh
                        </div>
                    </div>
                </div>
            </div> -->
           
            <div class="row">
                <div class="col-lg-4 offset-lg-4" style="text-align: center; padding-top: 30px">
                    <h2>Mentor</h2>
                </div>
            </div>
            </div>
            <div class="row" style="padding-bottom: 20px">
                <div class="col-md-12" style="text-align: center; padding-top: 20px">
			    <!-- <img src="images/pratik.jpg" class="img-responsive wow fadeInUp animated" alt="About" style="border-radius: 50%; display: inline-block; vertical-align: middle; position: relative; text-align: center; visibility: visible; animation-name: fadeInUp;"> -->
			    <img src="/static/images/mayank.jpg" alt="About" style="width: 100px; height: 100px; border-radius: 50%;">
				<p style="font-size: 20px; padding-top: 5px"> Mayank Singh <br><a href ="mailto:singh.mayank@iitgn.ac.in" style="font-size: 15px">singh.mayank@iitgn.ac.in</a> </p>
			  </div>
            </div>

        </div>  
    </section>

    <section style="background-color: #f8f9fa">
    	<div class="container">
        	<div class="row">
                <div class="col-lg-4 offset-lg-4" style="text-align: center; padding-top: 50px">
                    <h2>Contact Us</h2>
                </div>
            </div>

            <div class="row">
                <div class="col-lg-4 offset-lg-4" style="text-align: center; padding-top: 20px">
                    <h3><a href="https://labs.iitgn.ac.in/lingo/">LINGO</a></h3>
                    <p>Computational Linguistics and Complex Social Networks Group</p>
                    <p>Department of Computer Science<br>Indian Institute of Technology Gandhinagar</p>
                    <!-- <p>Email: <a href ="mailto:singh.mayank@iitgn.ac.in">singh.mayank@iitgn.ac.in </a></p> -->
                </div>
            </div>
        	
        </div>
    <!-- </section> -->



    <br>
    {% include 'footerbar.html' %}
    </body>
    <script src="{{ url_for('static',filename='three.r92.min.js') }}"></script>
    <script src="{{ url_for('static',filename='vanta.net.min.js') }}"></script>

    <script>
        $('#search-text').on('keyup', function() {
            var text_length = $(this).val().replace(/\s/g, "").length;
            if(text_length > 0){
                $('#search-submit').removeAttr("disabled");
            }
            else {
                $('#search-submit').attr("disabled", true);
            }
        });    
    
    </script>

    <script>
        VANTA.NET({
            el: "#main",
            color: 0xffffff,
            backgroundColor: 0x648b9b
        })

        $('.subscription').submit(function(event) {
            event.preventDefault();
            var email = $('#email').val()
            console.log(email);
            $.ajax({
                    type: "POST",
                    url: "/subscribe",
                    contentType: 'application/json',
                    data: JSON.stringify({
                        email: email
                    }),
                    success: function(data) {
                        console.log("ajax worked");
                        $('#email').val("");
                }
            });
        });

    </script>
</html>